{% extends 'base.html' %}
{% load static %}
{% load i18n %} 
{% load omflow_tags %}
{% block content %}
<!-- 
	flowvalue.html flowvaluePage
	author : Pei lin
-->
	
	<script src="/static/js/workflow.js?version={%omflow_version%}"></script>
	<!-- Content Header (Page header) -->
	<section class="content-header">
      <h1 id="page_title">
      	{{flow_name}}
       	
      </h1>
      <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> {% trans '首頁'%}</a></li>
		<li>{% trans '應用管理'%}</li>
        <li><a href="/flowmanage/page/workflow-app/">{% trans '已上架應用'%}</a></li>
      </ol>
    </section>
    <section class="content">
  	<div class="box box-default">
  	  <div class="box-header with-border">
	    <button type="button" class="btn btn-default" onclick="filter_flowdesign()" style="margin:1px 0px;"><i class="fa fa-filter"></i> {% trans '篩選'%}</button>
        <button type="button" title="{% trans '清除篩選條件' %}" class="btn btn-default" onclick="filter_default()" style="margin:1px 0px;"><i class="fa fa-undo"></i>{% trans ' 還原' %}</button>
  	  </div>
  	  <div class="box-body">
  	    <table class="table table-bordered table-striped" id="omdata_table" width="100%">
  	   	  <thead>
  	  	    <tr>
  	  	  	  <th>{% trans '表單編號'%}</th>
  	  	  	  <th>{% trans '關卡'%}</th>
  	  	  	  <th>{% trans '是否異常'%}</th>
  	  	  	  <th>{% trans '異常訊息'%}</th>
  	  	  	  <th>{% trans '開單人'%}</th>
  	  	  	  <th>{% trans '開單時間'%}</th>
  	  	  	  <th></th>
  	  	  	</tr>
  	  	  </thead>
  	  	  <tbody>
  	  	  </tbody>
  	    </table>
  	  </div>
    </div>
    
    
    <div class="modal fade" id="modal-flowvalue" data-backdrop="static">
	  <div class="modal-dialog modal-lg">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title"><i class="fa fa-edit"></i>&nbsp;&nbsp;{% trans '資料修改'%}</h4>
		  </div>
		  <div class="modal-body">
	        <textarea row="9" id="flowvalue_text" style="width:100%;height:300px;resize:none;"></textarea>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default pull-left" data-dismiss="modal">{% trans '取消'%}</button>
			<button type="button" class="btn btn-primary" id="modal-flowvalue-confirm" data-dismiss="modal">{% trans '確定'%}</button>
		  </div>
		</div>
	  </div><!-- /.modal-content -->
	</div>
    
    
    </section>
    <style>
    	thead th { white-space: nowrap; }
    </style>
    <script>
    var csrfmiddlewaretoken="{{ csrf_token }}";
    var date = new Date();
	date.setDate(date.getDate() + 1);
	var select_time;
    var table;
    var data_tmp;
	var data_len;
	var data_page;
	var checkbox_status = [];
	var is_closed = [0];
    $(function(){
    	listomdata();		//列表  ticket
    });
    
    
    function listomdata(){
    	var postbody = {a_flow_uuid: '{{ flow_uuid }}'};
    	omflowJsonAjax(postbody, '{% url "getApplicationFlowNameAjax" %}', getname_action);
    	select_time = date.getFullYear() +'-'+('0'+(date.getMonth()+1)).substr(-2)+'-'+('0'+date.getDate()).substr(-2);
    	table = $('#omdata_table').DataTable({
				"autoWidth"	: false,
				"order"		: [[5,"desc"], [ 0, "desc" ]], 					//	default order column[1]
				"serverSide": true,							//	serverside data loading
				"dom"		:"<<t>'row'<'col-sm-5'i><'col-sm-7'p>>",
				"language"	: __const_language__,
				"ajax": {
	           		"url": "{% url 'listOmDataHistoryAjax' %}",
	            	"type": "POST",
	            	"headers": { "X-CSRFToken": csrfmiddlewaretoken },
					"contentType": "application/json;charset=utf-8;",
	            	"data":	function ( d ) {
						return JSON.stringify($.extend( {}, d, {
					        flow_uuid	: '{{flow_uuid}}',
					        createtime	: select_time,
					        "closed"	: is_closed,
					        manage		: 1
					    })); 
					},
					"dataSrc": function(data){
						a = dataCompare(data,data_tmp,data_len,data_page,table);
						data_tmp = a['data_tmp']
						data_len = a['data_len']
						data_page = a['data_page']
						data.data = a['data.data']
						return data.data;
					},
	        	},
	        	"columns":[	
    				{"data": "data_no"},
    				{"data": "stop_uuid"},
    				{"data": "error", "render": function(data)
    					{
    						if(data)
    							{return '<div class="label label-danger">{% trans '異常'%}</div>'}
    						else
    							{return '<div class="label label-success">{% trans '正常'%}</div>'}		
    					}
    				},
    				{"data": "error_message"},
    				{"data": "update_user"},
    				{"data": "createtime", "width": "150px", "render": function(data)
						{
							if (data)
								{return data.slice(0,-7)}
							else
								{return ''}
						}
					},
    				{"data": "data_no", "width": "15px", "orderable": false, "render": function(data,type,row)
    					{
    						if (row.history)
    						{
    							return ''
    						}
    						else
    						{
    							return '<button class="btn btn-xs btn-default" onclick="loadflowvalue(\''+data+'\',\''+row.id+'\')">{% trans '編輯'%}</button>'
    						}
    					}
    				}
    	 		],
    	 		"rowCallback": function(row, data)
    	 		{
    	 			if(data.history)
    	 			{
    	 				$('td:eq(6) button',row).attr('disabled', 'disabled');
    	 				$(row).css('color','#b5bbc8');
    	 			}
    	 		},
    	 		drawCallback: function(){
				    $.each(checkbox_status, function(){
						$('.table input[type="checkbox"]#'+this).prop('checked', true);
					});
				},
    	 		preDrawCallback: function(settings) {
	    			checkbox_status = []
	    			$.each($('.table input[type="checkbox"]'), function(){
	    				if (this.checked)
	    				{	
	    					checkbox_status.push(this.id)
	    				}
	    			});
	    		} 
	        });
    }
    
    
    function getname_action(data)
	{
		if(data.status == 200)
		{ 
			$('.content-header > h1').append(data.result.flow_name+'<small>{% trans '流程資料'%}</small>');
			$('ol.breadcrumb').append('<li><a href="/flowmanage/page/workflowManagePage/{{app_id}}">'+data.result.app_name+'</a></li>');
			$('ol.breadcrumb').append('<li class="active"><a href="javascript:location.reload();">'+data.result.flow_name+'</a></li>');
		}
		else
		{
			omflowAlert('red', data.message); 
		}
		$('ul.sidebar-menu ul.treeview-menu > li > a[href="/flowmanage/page/workflow-app/"]').parentsUntil(".sidebar-menu > .treeview-menu").siblings().removeClass('active menu-open').end().addClass('active menu-open');
	}
    
    
    function loadflowvalue(data_no, data_id){
    	var postdata = {flow_uuid: '{{flow_uuid}}', data_no:data_no, data_id: data_id}
    	omflowJsonAjax(postdata,'{% url "getFlowValueAjax"%}', callback);
    	function callback(data){
    		if (data.status = 200)
    		{
				var myCodeMirror = CodeMirror.fromTextArea(document.getElementById('flowvalue_text'), {
					lineNumbers: true,
					matchBrackets: true,
			        autoCloseBrackets: true,
			        mode: "application/ld+json",
			        lineWrapping: true,
					indentUnit: 4,
				});
				myCodeMirror.setValue(JSON.stringify(data.result, undefined, 2))
				$('#modal-flowvalue').on('shown.bs.modal', function(){
	    			myCodeMirror.refresh();
	    		});
	    		$('#modal-flowvalue').on('hidden.bs.modal', function(){
	    			myCodeMirror.toTextArea();
				});
	    		$('#modal-flowvalue-confirm').off('click').on('click', function(){
	    			var postbody = {
	    				flow_uuid	: '{{flow_uuid}}',
	    				data_no		: data_no,
	    				data_id		: data_id,
	    				flow_value	: myCodeMirror.getValue()
	    			}
	    			omflowJsonAjax(postbody, '{% url "updateFlowValueAjax"%}', actions)
	    			
	    		});
	    		$('#modal-flowvalue').modal('show');
	    	}
	    	else
	    	{
	    		omflowAlert('red', data.message);
	    	}
    	}
    }
    
    function filter_flowdesign()
    {
    	omflowFilter(['filter_search','filter_closed','filter_length']);
		$('#modal-default-filter-confirm').off("click").on("click",function(){
			is_closed = [];
			var searchkey = $.trim($('#modal-default-filter #search').val());
			var page_length = $('#modal-default-filter #page_length').val();
			$.each($('[name="filter_closed"] input:checkbox:checked'), function(){
				is_closed.push($(this).data('value'));
			});
			table.page.len(page_length);
			table.search(searchkey).draw();
		});
    }
    
    function filter_default(){
    	is_closed = [0];
    	table.page.len(10);
		table.search('');
    	table.draw(false);
    }
    
    function actions(data){
    	Swal.close();
		if(data.status == 200)
		{
			Swal.fire({
	      	  icon : 'success',
	      	  title: '{% trans '成功'%}',
	      	  toast: true,
		  	  position: 'bottom-start',
		  	  showConfirmButton: false,
	      	  timer: 2000,
  		    });
  		    table.draw(false);
		}
		else if (data.status == 404)
		{
			omflowAlert('yellow', data.message);
		}
		else if (data.status == 500)
		{
			omflowAlert('blue', data.message);
		}
		else if (data.status == 403)
		{
			omflowAlert('red', data.message);
		}
    }
    
    var table_routine = setInterval(function(){ table.draw(false);}, {{user.frequency}}*1000);
    </script>
{% endblock %}