{% extends 'base.html' %}
{% load static %}
{% load i18n %} 
{% block content %}
<!-- 
	flow_app_manage.html flowAppManagePage
	author : Pei lin
-->
	
	<!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
       	 {% trans '應用設計'%}
        <small>{% trans '應用列表'%}</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> {% trans '首頁'%}</a></li>
		<li>{% trans '應用管理'%}</li>
        <li class="active"><a href="/flowmanage/page/flow-app/">{% trans '應用設計'%}</a></li>
      </ol>
    </section>
    <section class="content">
      <div class="row">
      	<div class="col-xs-12">
      	  <div class="box box-primary">
      	    <div class="box-header with-border">
      	      <div class="pull-left">
      	        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-flow-app-creat" style="margin:1px 0px;"><i class="fa fa-plus"></i> {% trans '新增'%}</button>
			    <button type="button" class="btn btn-default" onclick="omflowListDialogue('delete','{% trans "刪除下列應用"%}', flow_app_edit,'delete')" id="delete_flowapp" disabled="disabled" style="margin:1px 0px;"><i class="fa fa-trash-o"></i> {% trans '刪除'%}</button>
			    <button type="button" class="btn btn-default" onclick="deploy_flowapp()" id="deploy_flowapp" disabled="disabled" style="margin:1px 0px;"><i class="fa fa-sitemap"></i> {% trans '上架'%}</button>
			    <button type="button" class="btn btn-default" onclick="filter_flowapp()" style="margin:1px 0px;"><i class="fa fa-filter"></i> {% trans '篩選'%}</button>
                <button type="button" title="{% trans '清除篩選條件' %}" class="btn btn-default" onclick="filter_default()" style="margin:1px 0px;"><i class="fa fa-undo"></i>{% trans ' 還原' %}</button>
              </div>
              <div class="pull-right">
                <button type="button" class="btn btn-default" id="flowapp_input" onclick="$('#file').click()" style="margin:1px 0px;"><i class="fa fa-download"></i> {% trans '匯入'%}</button>
                <input type="file" id="file" onchange="flowapp_input(this.files)" style="display:none;"/>
			    <button type="button" class="btn btn-default" id="flowapp_output" onclick="flowapp_output()" style="margin:1px 0px;" disabled="disabled"><i class="fa fa-upload"></i> {% trans '匯出'%}</button>
			    <button type="button" class="btn btn-info" id="cloud_input" onclick="cloud_input('','', 'root')" style="margin:1px 0px;"><i class="fa fa-cloud-download"></i> {% trans '下載'%}</button>
			  </div>
      	    </div>
      	    <!-- box-header -->
      	    <div class="box-body">
      	      <table id="app_table" class="table table-bordered table-striped table-hover" width="100%">
				<thead>
				  <tr>
					<th style="width:15px"><a><i class="fa fa-lg fa-check-square-o checkbox-toggle" style="color:SteelBlue"></i></a></th>
					<th>{% trans '名稱' %}</th>
					<th>{% trans '屬性' %}</th>
					<th>{% trans '使用者' %}</th>
					<th>{% trans '最後修改時間' %}</th>
				  </tr>
				</thead>
				<tbody>
				</tbody>
			  </table>
      	    </div>
			<!-- box-body -->
      	  </div>
      	  <!-- box -->
      	</div>
      	<!-- col -->
      </div>
      <!-- row -->
    </section>
    
    <div class="modal fade" id="modal-flow-app-creat" data-backdrop="static">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title"><i class="fa fa-plus"></i>&nbsp;&nbsp;{% trans '建立應用' %}</h4>
		  </div>
		  <div class="modal-body">
            <div class="form-group">
          	  <label>{% trans '應用名稱' %}</label>
          	  <input type="text" name="flow_app_name" class="form-control" placeholder="{%trans '應用名稱'%}" required="true"/>
            </div>
            {% if user.username == 'system' %}
            <div class="form-group">
          	  <label>{% trans '屬性' %}</label>
          	  <select name="flow_app_attr" class="form-control" placeholder="{%trans '屬性'%}" required="true"/>
          	    <option value="0"> user</option>
          	    <option value="1"> sys</option>
          	    <option value="2"> lib</option>
          	    <option value="3"> cloud</option>
          	    <option value="4"> policy</option>
          	  </select>
            </div>
            {% endif %}
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default pull-left" data-dismiss="modal">{%trans '取消'%}</button>
			<button type="button" class="btn btn-primary" data-dismiss="modal" onclick="flow_app_edit('create')">{%trans '確定'%}</button>
		  </div>
		</div>
	  </div><!-- /.modal-content -->
	</div>
    
    
    <div class="modal fade" id="modal-flow_input" data-backdrop="static">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title"><i class="fa fa-download"></i>&nbsp;&nbsp;{%trans '流程匯入'%}</h4>
		  </div>
		  <div class="modal-body">
		  	<ul class="mailbox-attachments clearfix" id="flow_input_name">
            </ul>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default pull-left" data-dismiss="modal">{%trans '取消'%}</button>
			<button type="button" class="btn btn-primary" data-dismiss="modal" onclick="flowapp_input_save()">{%trans '確定'%}</button>
		  </div>
		</div>
	  </div><!-- /.modal-content -->
	</div>
	
	<div class="modal fade" id="modal-flow-deploy" data-backdrop="static">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title"><i class="fa fa-lg  fa-sitemap" style="color:SteelBlue;"> {%trans '上架設定'%}</i></h4>
          </div>
          <div class="modal-body">
			<ul class="list-group list-group-unbordered">
			  <li class="list-group-item">
			    <table class="table no-margin" width="100%">
			      <thead>
			        <tr>
			          <th style="border-bottom:0px"><input type="radio" class="iradio_minimal-blue" name="choose_deploy" id="newdeploy" value="newdeploy" checked><label for="newdeploy"></label><label>   {%trans '上架新應用'%}</label></th>
			  	  	  <th style="border-bottom:0px"><input type="radio" class="iradio_minimal-blue" name="choose_deploy" id="overwrite" value="overwrite" ><label for="overwrite"></label><label>   {%trans '取代上架應用'%}</label></th>
			  	  	</tr>
			  	  </head>
			  	</table>
			  </li>
			  <li class="list-group-item" id="newdeploybox" style="display:None;">
				<div class="form-group has-warning">
				  <label>{%trans '應用名稱'%}</label>
				  <br>
				  <input type="text" name="flow_name" class="form-control" >
				</div>
				<div class="form-group">
		          <label class="text-light-blue">{%trans '上架位置'%} </label>
				  <select id="deploy_pos" class="form-control">
				  </select>
				</div>
			  </li>
			  <li class="list-group-item" id="overwritebox" style="display:None;">
				<div class="form-group has-warning">
				  <label>{%trans '應用名稱'%}</label>
				  <br>
				  <input type="text" name="flow_name" class="form-control" >
				</div>
				<div class="form-group">
				  <label class="text-light-blue">{%trans '應用選擇'%}</label>
			  	  <select id="overwrite_select" class="form-control">
			  	  	
			  	  </select>
			  	</div>
			  </li>
			</ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">{%trans '取消'%}</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal">{%trans '確定'%}</button>
          </div>
		</div>
      </div>
	</div>
	<style>
		table tbody tr{
		  cursor:pointer;
		}
	</style>
	<script>
    var table ;
    var date = new Date();
    var app_attr = ['user','cloud','lib','sys'];
    var textFile = null; //設計檔案
    var input_file;
    var data_tmp;
	var data_len;
	var data_page;
	var checkbox_status = [];
	date.setDate(date.getDate() + 1);
	select_time = date.getFullYear() +'-'+(date.getMonth()+1)+'-'+date.getDate();
    $(function () {
		table = $('#app_table').DataTable({
			"autoWidth": false,
			"order": [[ 4, "desc" ]], 
			"dom":"<<t>'row'<'col-sm-5'i><'col-sm-7'p>>",
			"language": __const_language__,
			"serverSide": true,							//	serverside data loading
			"deferRender": true,
			"processing": true,
			"ajax": {
           		"url": "{% url 'listWorkspaceApplicationAjax' %}",
            	"type": "POST",
            	"headers": { "X-CSRFToken": "{{ csrf_token }}" },
        		"contentType": "application/json;charset=utf-8;",
            	"data": function ( d ) {
							return JSON.stringify($.extend( {}, d, {
								updatetime: select_time,
								app_attr: app_attr,
								datatable: 'True'
							}));
						},
				"dataSrc": function(data){
						a = dataCompare(data,data_tmp,data_len,data_page,table);
						data_tmp = a['data_tmp']
						data_len = a['data_len']
						data_page = a['data_page']
						data.data = a['data.data']
						return data.data;
					},
        	},   
			"columns":[
				{"width": "15px", "data": "app_name", "orderable": false, "render": function (data, type, row)
                	{return '<input type="checkbox" class="icheckbox_minimal-blue" value="'+data+'" id="'+row.id+'" data-value="'+data+'"><label for='+row.id+'></label>'}
                },
				{"data": "app_name"},
				{"data":"app_attr"},
				{"data":"user__username", "orderable": false},
				{"data":"updatetime","width": "150px", "render": function(data)
					{return data.slice(0,-7)}
				},
			],
			rowCallback: function( row, data ) {
			      $('td:not(:eq(0))', row).attr('onclick', 'javascript:location.href="/flowmanage/page/flowManagePage/'+data.id+'"')
			},
			drawCallback: function(){
				omflowCheckAll()
				$('.table input[type="checkbox"]').change(function(){
			    	enablebtt();
			    });
			    $.each(checkbox_status, function(){
					$('.table input[type="checkbox"]#'+this).prop('checked', true);
				});
			},
			preDrawCallback: function(settings) {
    			checkbox_status = []
    			$.each($('.table input[type="checkbox"]'), function(){
    				if (this.checked)
    				{	
    					checkbox_status.push(this.id)
    				}
    			});
    		} 
		});
		
		$('#modal-flow-app-creat').on('hidden.bs.modal', function(){
			$('#modal-flow-app-creat input[name="flow_app_name"]').val('');
			$('#modal-flow-app-creat select[name="flow_app_attr"]').val(0).trigger('change');
		});
	});
	
	
	function enablebtt()
	{
		var count = $('.table input:checkbox:checked').length;
    	if (count == 0)
    	{
    		$('#delete_flowapp, #deploy_flowapp, #flowapp_output').prop('disabled', 'disabled');
    	}
    	else if (count == 1)
    	{
    		$('#deploy_flowapp, #delete_flowapp, #flowapp_output').prop('disabled', '');
    	}
    	else
    	{
    		$('#flowapp_output, #delete_flowapp').prop('disabled', '');
    		$('#deploy_flowapp').prop('disabled', 'disabled');
    	} 
	}
		
		
	function flow_app_edit(action)
	{	
		var postdata = 
		{
			action: action
		};
		var app_name = '';
		if (action == 'create')
			{
				postdata['app_name'] = $('#modal-flow-app-creat input[name="flow_app_name"]').val();
				postdata['app_attr'] = $('#modal-flow-app-creat select[name="flow_app_attr"]').val();
			}
		else if (action == 'delete')
			{	
				postdata['app_id_list'] = [];
				$('#app_table input:checkbox:checked').each(function(){
					postdata['app_id_list'].push($(this).attr('id'));
				});
			}	
		
		omflowJsonAjax(postdata, "{% url 'editWorkspaceApplicationAjax'%}", callback);
		Swal.fire({
		  title: '{% trans '處理中...'%}',
		  toast: true,
		  position: 'bottom-start',
		  showConfirmButton: false,
		});
		Swal.showLoading() ;
		
		function callback(data)
		{
			Swal.close();
			if(data.status == 200)
			{
				LSide();
				table.draw(false);
				Swal.fire({
		      	  icon : 'success',
		      	  title: '{% trans '成功'%}',
		      	  toast: true,
			  	  position: 'bottom-start',
			  	  showConfirmButton: false,
		      	  timer: 2000,
	  		    });
			}	
			else if (data.status == 404)
			{
				omflowAlert('yellow', data.message);
			}
			else if (data.status == 500)
			{
				omflowAlert('blue', data.message);
			}
			else if (data.status == 403)
			{
				omflowAlert('red', data.message);
			}
		}
	}	
		
	
	function deploy_flowapp(){
    	w_app_id = $('.table input:checkbox:checked').attr('id');
    	app_name = $('.table input:checkbox:checked').val();

		$('#modal-flow-deploy input[name="choose_deploy"]').on('click', function(){
			if ($(this).val() == 'overwrite')
			{
				overwrite_flow();
			}
			else 
			{
				newcreate_flow();
			}
		});	
		$('input[id="newdeploy"]').prop('checked', true);
		newcreate_flow();
		$('#modal-flow-deploy').modal('show');
    }


	function newcreate_flow()
	{
    	omflowJsonAjax({}, '{% url 'listSidebarDesignAjax' %}', callback)
    	
    	function callback(data)
    	{
    		if(data.status == 200)
    		{
				$('#modal-flow-deploy select[id="deploy_pos"]').empty();
				$('#newdeploybox input[name="flow_name"]').val('');
				$('#overwritebox').hide();
				$('#overwritetable').hide();
							
				$('#newdeploybox input[name="flow_name"]').val(app_name);
				$.each(data.result, function(index, value){
					$('select[id="deploy_pos"]').append('<option value="'+value.id+'">'+value.name+'</option>')
				});
				$('#newdeploybox').show();
			}
			else
			{
				omflowAlert('red', data.message);
			}
		}
		$('#modal-flow-deploy button:eq(2)').off("click").on("click",function(){
			var pid = $('#modal-flow-deploy select').val();
			var new_app_name = $('#newdeploybox input[name="flow_name"]').val();
			postdata = 
			{
				w_app_id: w_app_id,
				app_name: new_app_name,
				lside_pid: pid
			}
			$('#modal-flow-deploy').on('hidden.bs.modal', function () {
				omflowJsonAjax(postdata, '{% url "deployWorkspaceApplicationAjax"%}', actions);
				Swal.fire({
				  title: '處理中...',
				  toast: true,
				  position: 'bottom-start',
				  showConfirmButton: false,
				});
				Swal.showLoading() ;
				$('#modal-flow-deploy').off('hidden.bs.modal');
			});
		});
	}


	function overwrite_flow()
	{	
		var sel = {};
		omflowJsonAjax({}, '{% url 'listActiveApplicationAjax'%}', callback)
		function callback(data)
    	{	
    		if (data.status == 200)
    		{
				$('#modal-flow-deploy select[id="overwrite_select"]').empty();
				$('#overwritebox input[name="flow_name"]').val('').prop('readonly',true);
				$('#newdeploybox').hide();
				if (data.result.length == 0)
				{
					$('select[id="overwrite_select"]').append('<option>{% trans '無應用可取代'%}</option>');
				}
				else
				{
					$.each(data.result, function(index, value){
						var opvalue = {app_id: value.id, app_name: value.app_name};
						opvalue = JSON.stringify(opvalue).replace(/\"/g, '@');
						if (value.app_name == app_name)
						{
							$('#overwritebox input[name="flow_name"]').val(app_name);
							$('select[id="overwrite_select"]').append('<option value="'+opvalue+'" selected="selected">'+value.app_name+'</option>')
						}
						else
						{
							$('select[id="overwrite_select"]').append('<option value="'+opvalue+'">'+value.app_name+'</option>')
						}
					});
					$('select[id="overwrite_select"]').off('change').on('change',function(){
						$('#overwritebox input[name="flow_name"]').val(sel.app_name);
					});
				}
				$('#overwritebox').show();
			}
			else
			{
				omflowAlert('red', data.message);
			}
		}
		$('#modal-flow-deploy button:eq(2)').off("click").on("click",function(){
			sel = JSON.parse($('select[id="overwrite_select"]').val().replace(/\@/g, '"'))
			postdata = 
			{
				w_app_id: w_app_id,
				a_app_id: sel.app_id,
				app_name: sel.app_name,
				lside_pid: 'disable'
			}
			$('#modal-flow-deploy').on('hidden.bs.modal', function () {
				omflowJsonAjax(postdata, '{% url "deployWorkspaceApplicationAjax"%}', actions);
				Swal.fire({
				  title: '{% trans '處理中...'%}',
				  toast: true,
				  position: 'bottom-start',
				  showConfirmButton: false,
				});
				Swal.showLoading() ;
				$('#modal-flow-deploy').off('hidden.bs.modal');
			});
		});
	}	
	
	
	function flowapp_output(){
		omflowListDialogue('output', "{% trans '匯出下列應用' %}", output_confirm);
		//產生
		var makeTextFile = function (text) {
            var data = new Blob([text], {
                type: 'text/plain'
            });

            // If we are replacing a previously generated file we need to
            // manually revoke the object URL to avoid memory leaks.
            if (textFile !== null) {
                window.URL.revokeObjectURL(textFile);
            }
            textFile = window.URL.createObjectURL(data);

            return textFile;
        };
        
        //產生檔名
        var NowDate = new Date();
		var Y = NowDate.getYear()+1900;
		var M = NowDate.getMonth()+1;
		var d = NowDate.getDate();
		var h = NowDate.getHours();
		var m = NowDate.getMinutes();
		var s = NowDate.getSeconds();
        var filename = "OMFLOW-FlowObject_"+Y+"-"+M+"-"+d+"_"+h+"-"+m+"-"+s+".omf";
		$('#modal-default-list-text').append('<li class="list-group-item"><div class="mailbox-attachment-info">'+
			        	'<p class="mailbox-attachment-name" style="word-break: break-all;"><i class="fa fa-paperclip"></i>&nbsp;&nbsp;'+filename+'</p>'+
			            '<span class="mailbox-attachment-size"></span>'+
			      		'</div></li>')
		
		var app_id_list =[];
		$('.table input:checkbox:checked').each(function(){
			app_id_list.push($(this).attr('id'));
		});
		
		var postbody = {app_id_list: app_id_list};
		omflowJsonAjax(postbody, "{% url 'exportWorkspaceApplicationAjax'%}", actions);
		
		function actions(data)
		{	
			$('body').append($('<a id="exporta" href="'+makeTextFile(JSON.stringify(data.result))+'" download="'+filename+'" style="display:none;"></a>'));
		}
		
		function output_confirm()
		{
			$('#exporta')[0].click();
			$('#exporta').remove();
		}
	}
	
	
	function flowapp_input(files) {
	    if (files.length) {
	        var file = files[0];
	        var reader = new FileReader();
	        reader.onload = function(event) {
	        	$('#flow_input_name').empty().append('<li style="width:100%;"><div class="mailbox-attachment-info">'+
				        	'<p class="mailbox-attachment-name" style="word-break: break-all;"><i class="fa fa-paperclip"></i>&nbsp;&nbsp;'+file.name+'</p>'+
				            '<span class="mailbox-attachment-size">'+omflowSizeUnit(file.size)+'</span>'+
				      		'</div></li>')
				$('#modal-flow_input').modal('show');
				input_file = reader.result;
	        }
	            reader.readAsText(file);
	            
        }
    }
    
    
    function flowapp_input_save(){
    	input_file = JSON.stringify(JSON.parse(input_file));
    	Swal.fire({
		  title: '{% trans '處理中...'%}',
		  toast: true,
		  position: 'bottom-start',
		  showConfirmButton: false,
		});
		Swal.showLoading() ;
	
		var postbody =
			{
				app_list	: input_file
			}
		omflowJsonAjax(postbody, '{% url "importWorkspaceApplicationAjax"%}', actions);
		$('#file').val('');
    }
	
	
	function filter_flowapp(){
		omflowFilter(['filter_search','filter_type','filter_length']);
		$('#modal-default-filter-confirm').off("click").on("click",function(){
			var searchkey = $.trim($('#modal-default-filter #search').val());
			var page_length = $('#modal-default-filter #page_length').val();
			app_attr = [];
			$.each($('[name="filter_type"] input:checkbox:checked'), function(){
				app_attr.push($(this).data('value'));
			});
			table.page.len(page_length);
			table.search(searchkey).draw();
			
		});
	}
	
    function filter_default(){
    	app_attr = ['user','cloud','lib','sys'];	
{#		select_time = date.getFullYear() +'-'+(date.getMonth()+1)+'-'+date.getDate();#}
		table.page.len(10);
		table.search('');
    	table.draw(false)
    }
	
	
	function actions(data)
	{
		Swal.close();
		if(data.status == 200)
		{
			LSide();
			table.draw(false);
			Swal.fire({
	      	  icon : 'success',
	      	  title: '{% trans '成功'%}',
	      	  toast: true,
		  	  position: 'bottom-start',
		  	  showConfirmButton: false,
	      	  timer: 2000,
  		    });
		}	
		else if (data.status == 404)
		{
			omflowAlert('yellow', data.message);
		}
		else if (data.status == 500)
		{
			omflowAlert('blue', data.message);
		}
		else if (data.status == 403)
		{
			omflowAlert('red', data.message);
		}
	}
	
	var table_routine = setInterval(function(){ table.draw(false);}, {{user.frequency}}*1000);
	
	var path_map = '';
	function cloud_input(path, file, pos)
	{
		Swal.fire({
		  title: '{% trans '讀取中'%}...',
		  toast: true,
		  position: 'bottom-start',
		  showConfirmButton: false,
		});
		Swal.showLoading();
		var cloud_postbody = {content: path+file}
		omflowJsonAjax(cloud_postbody, '{% url "getCloudFlowAjax" %}', callback)
		
		function callback(data)
		{	
			Swal.close();
			if (data.status == 200)
			{
				$('#cloud_flow_table tbody').empty();
				if (pos != 'root' && path != '')
				{
					path_map = path.split('/').pop();
					$('#cloud_flow_table tbody').append('<tr onclick="cloud_input(\''+path_map+'\', \''+file+'\', \'back\')" title="{% trans '回上一層'%}"><th><i class="fa fa-folder" style="color:#79b8ff"></i></th><th>..</th><th></th><th></th><th></th><th></th></tr>')
				}
				data.result.content.forEach(function(item){
					var des = escapeHtml(item.description)
					des = des.replaceAll('\n', '<br>');
					if (item.type == 'main')
					{
						$('#cloud_flow_table tbody').append('<tr onclick="cloud_input(\''+item.path+'\', \''+item.file+'\', \'next\')" title="{% trans '檢視'%}'+item.name+'"><th><i class="fa fa-folder" style="color:#79b8ff"></i></th><th>'+item.name+'</th><th>'+des+'</th><th>'+item.version+'</th><th>'+item.update_time+'</th><th></th></tr>')
					}
					else if (item.type == 'flowobject')
					{
						$('#cloud_flow_table tbody').append('<tr><th><i class="fas fa-file-code"></i></th><th>'+item.name+'</th><th>'+des+'</th><th>'+item.version+'</th><th>'+item.update_time+'</th><th><button onclick="cloud_import(\''+item.path+'\', \''+item.file+'\')" class="btn btn-xs btn-default" title="{% trans '匯入'%}'+item.name+'">{% trans '匯入'%}</button></th></tr>')
					}
				});
				$('#modal-cloud-flow').modal('show');
			}
			else
			{
				actions(data)
			}
		}
	}
	
	function cloud_import(path, file)
	{
		Swal.fire({
		  title: '{% trans '流程匯入中'%}...',
		  toast: true,
		  position: 'bottom-start',
		  showConfirmButton: false,
		});
		Swal.showLoading();
		var cloud_postbody = {content: path+file}
		omflowJsonAjax(cloud_postbody, '{% url "getCloudFlowAjax" %}', callback)
		
		function callback(data)
		{
			if (data.status == 200)
			{
				input_file = JSON.stringify(data.result);
				flowapp_input_save()
			}
			else
			{
				actions(data)
			}
		}
	}
	</script>
	
	<div class="modal fade" id="modal-cloud-flow" data-backdrop="static">
	  <div class="modal-dialog modal-lg">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title"><i class="fa fa-cloud-download" style="color:#00acd6"></i>&nbsp;&nbsp;{% trans "雲端流程" %}</h4>
		  </div>
		  <div class="modal-body">
		  	<table id="cloud_flow_table" class="table no-margin table-hover" width="100%">
		  	  <thead>
			    <tr>
				  <th width="3%"></th>
				  <th width="20%">{% trans "名稱" %}</th>
				  <th width="40%">{% trans "說明" %}</th>
				  <th width="10%">{% trans "版本" %}</th>
				  <th width="20%">{% trans "修改日期" %}</th>
				  <th width="7%"></th>
				</tr>
			  </thead>	
		  	  <tbody></tbody>
		  	</table>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">{% trans "關閉" %}</button>
		  </div>
		</div>
	  </div><!-- /.modal-content -->
	</div>
	
{% endblock %}