{% extends 'base.html' %}
{% load static %}
{% load i18n %} 
{% load omflow_tags %}
{% block content %}
<!-- 
	workflow_manage.html workflowManagePage
	author : Pei lin
-->

	<script src="/static/js/workflow.js?version={%omflow_version%}"></script>
	<!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
      </h1>
      <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> {% trans '首頁'%}</a></li>
		<li >{% trans '流程管理'%}</li>
        <li><a href="/flowmanage/page/workflow-app/">{% trans '已上架應用'%}</a></li>
      </ol>
    </section>
    <section class="content">
      <div class="row">
      	<div class="col-xs-12">
	  	<div class="box box-primary">
  	      <div class="box-header with-border">
  	      	<div class="pull-left">
		      <button type="button" class="btn btn-default" onclick="active_flowdesign()" id="active_flowdesign" disabled="disabled" style="margin:1px 0px;"><i class="fa fa-play"></i> {% trans '啟用'%}</button>
		      <button type="button" class="btn btn-default" onclick="inactive_flowdesign()" id="inactive_flowdesign" disabled="disabled" style="margin:1px 0px;"><i class="fa fa-stop"></i> {% trans '停用'%}</button>
		      <button type="button" class="btn btn-default" onclick="filter_flowdesign()" style="margin:1px 0px;"><i class="fa fa-filter"></i> 篩選</button>
              <button type="button" title="{% trans '清除篩選條件' %}" class="btn btn-default" onclick="filter_default()" style="margin:1px 0px;"><i class="fa fa-undo"></i>{% trans ' 還原' %}</button>
          	</div>
  	      </div>
  	      <!-- box-header -->
  	      <div class="box-body">
  	      	<table id="flow_table" class="table table-bordered table-striped table-hover">
			  <thead>
			  	<tr>
				  <th style="width:15px"><a><i class="fa fa-lg fa-check-square-o checkbox-toggle" style="color:SteelBlue"></i></a></th>
				  <th>{% trans '流程名稱'%}</th>
				  <th>{% trans '說明'%}</th>
                  <th>{% trans '狀態'%}</th>
				  <th>{% trans '版本'%}</th>
				  <th>LOG</th>
				  <th>API</th>
				  <th></th>
			  	</tr>
			  </thead>
			  <tbody>
			  </tbody>
		  	</table>
  	      </div>
		  <!-- box-body -->
  	  	</div>
  	  	<!-- box -->
      	</div>
      	<!-- col -->
      </div>
      <!-- row -->
    </section>
    
    
    <div class="modal fade" id="modal-workflow-set" data-backdrop="static">
	  <div class="modal-dialog modal-lg">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title"><i class="fa fa-edit"></i>&nbsp;&nbsp;{% trans '設定'%}</h4>
		  </div>
		  <div class="modal-body">
		    <div class="nav-tabs-custom">
		      <ul class="nav nav-tabs">
		        <li class="active"><a href="#p1" data-toggle="tab">{% trans '欄位設定'%}</a></li>
                <li><a href="#p2" data-toggle="tab" data-value="create">{% trans '開單'%}API</a></li>
                <li><a href="#p3" data-toggle="tab" data-value="query">{% trans '查詢'%}API</a></li>
                <li><a href="#p4" data-toggle="tab" data-value="update">{% trans '推單'%}API</a></li>
		      </ul>
		      <div class="tab-content">
		        <div class="tab-pane active" id="p1">
		          <button id="display_field_add" type="button" class="btn btn-default" style="margin:1px 0px 10px 0px;"><i class="fa fa-plus"></i> 新增</button>
				  <ul class="list-group list-group-unbordered">
		            <li class="list-group-item">
					  <ul id="display_field_list" style="list-style-type: none; margin: 0; padding: 0">
					  </ul>	
					</li>
				  </ul>
		        </div>
		        <div class="tab-pane" id="p2">
				  <div class="box">
				    <div class="box-body">		         
			          <div class="form-group">
			          	<input class="form-control" id="create_URL" readonly="true"></input>
			          </div>
			          <div class="form-group">
			          	<input class="form-control" id="METHOD" value="POST" readonly="true"></input>
			          </div>
			          <div class="row">
			            <div class="col-md-12">
			              <div class="panel with-nav-tabs panel-default">
			                <div class="panel-default panel-heading">
			           	  	  <ul class="nav nav-tabs">
			           	  		<li class="active"><a href="#create_p1" data-toggle="tab">{% trans '參數'%}</a></li>
					 			<li><a href="#create_p2" data-toggle="tab">{% trans '回傳'%}</a></li>
{#					 			<li><a href="#create_p3" data-toggle="tab">{% trans '回傳'%}</a></li>#}
					 			<li><a href="#create_p4" data-toggle="tab">{% trans '錯誤'%}</a></li>
					 		  </ul>
					 		</div>
					 		<div class="panel-body">
			           	  	  <div class="tab-content">
	              	 	  		<div class="tab-pane active" id="create_p1">
	              	 	  		  <textarea row="9" id="create_api_text" style="width:100%;height:300px;resize:none;"></textarea>
	              	 	  		</div>
	              	 	  		<div class="tab-pane" id="create_p2">
	              	 	  		  <textarea row="9" id="create_api_response" style="width:100%;height:300px;resize:none;"></textarea>
	              	 	  	    </div>
{#	              	 	  	    <div class="tab-pane" id="create_p3">#}
{#	              	 	  	      <textarea row="9" id="create_api_response_1" style="width:100%;height:300px;resize:none;"></textarea>#}
{#	              	 	  	    </div>#}
	              	 	  	    <div class="tab-pane" id="create_p4">
	              	 	  	      <textarea row="9" id="create_api_error" style="width:100%;height:300px;resize:none;"></textarea>
	              	 	  	    </div>
	              	 	  	  </div>
	              	 	  	</div>
					 	  </div>
					 	</div>
					  </div>
			        </div>
			      </div>
		        </div>
		        <div class="tab-pane" id="p3">
				  <div class="box">
				    <div class="box-body">		         
			          <div class="form-group">
			          	<input class="form-control" id="query_URL" readonly="true"></input>
			          </div>
			          <div class="form-group">
			          	<input class="form-control" id="METHOD" value="POST" readonly="true"></input>
			          </div>
			          <div class="row">
			            <div class="col-md-12">
			              <div class="panel with-nav-tabs panel-default">
			                <div class="panel-default panel-heading">
			           	  	  <ul class="nav nav-tabs">
			           	  		<li class="active"><a href="#query_p1" data-toggle="tab">{% trans '參數'%}</a></li>
					 			<li><a href="#query_p2" data-toggle="tab">{% trans '回傳'%}</a></li>
					 			<li><a href="#query_p3" data-toggle="tab">{% trans '錯誤'%}</a></li>
					 		  </ul>
					 		</div>
					 		<div class="panel-body">
			           	  	  <div class="tab-content">
	              	 	  		<div class="tab-pane active" id="query_p1">
	              	 	  		  <textarea row="9" id="query_api_text" style="width:100%;height:300px;resize:none;"></textarea>
	              	 	  		</div>
	              	 	  		<div class="tab-pane" id="query_p2">
	              	 	  		  <textarea row="9" id="query_api_response" style="width:100%;height:300px;resize:none;"></textarea>
	              	 	  	    </div>
	              	 	  	    <div class="tab-pane" id="query_p3">
	              	 	  	      <textarea row="9" id="query_api_error" style="width:100%;height:300px;resize:none;"></textarea>
	              	 	  	    </div>
	              	 	  	  </div>
	              	 	  	</div>
					 	  </div>
			            </div>
			          </div>
			        </div>
			      </div>
		        </div>
		        <div class="tab-pane" id="p4">
				  <div class="box">
				    <div class="box-body">		         
			          <div class="form-group">
			          	<input class="form-control" id="update_URL" readonly="true"></input>
			          </div>
			          <div class="form-group">
			          	<input class="form-control" id="METHOD" value="POST" readonly="true"></input>
			          </div>
			          <div class="row">
			            <div class="col-md-12">
			              <div class="panel with-nav-tabs panel-default">
			                <div class="panel-default panel-heading">
			           	  	  <ul class="nav nav-tabs">
			           	  		<li class="active"><a href="#update_p1" data-toggle="tab">{% trans '參數'%}</a></li>
					 			<li><a href="#update_p2" data-toggle="tab">{% trans '回傳'%}</a></li>
					 			<li><a href="#update_p3" data-toggle="tab">{% trans '錯誤'%}</a></li>
					 		  </ul>
					 		</div>
					 		<div class="panel-body">
			           	  	  <div class="tab-content">
	              	 	  		<div class="tab-pane active" id="update_p1">
	              	 	  		  <textarea row="9" id="update_api_text" style="width:100%;height:300px;resize:none;"></textarea>
	              	 	  		</div>
	              	 	  		<div class="tab-pane" id="update_p2">
	              	 	  		  <textarea row="9" id="update_api_response" style="width:100%;height:300px;resize:none;"></textarea>
	              	 	  	    </div>
	              	 	  	    <div class="tab-pane" id="update_p3">
	              	 	  	      <textarea row="9" id="update_api_error" style="width:100%;height:300px;resize:none;"></textarea>
	              	 	  	    </div>
	              	 	  	  </div>
	              	 	  	</div>
					 	  </div>
			            </div>
			          </div>
			        </div>
			      </div>
		        </div>
		      </div>
		    </div>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default pull-left" data-dismiss="modal">{% trans '取消'%}</button>
			<button type="button" class="btn btn-primary" data-dismiss="modal" id="display_field_confirm">{% trans '確定'%}</button>
		  </div>
		</div>
	  </div><!-- /.modal-content -->
	</div>
    
    <div id="hello2" style="display:none;"></div>
    
    <style>
		table tr td:nth-child(2),
		table tr td:nth-child(3){
		  cursor:pointer;
		}
	</style>
    <script>
    var csrfmiddlewaretoken="{{ csrf_token }}";
    var app_name;
    var table ;
    var date = new Date();
    var is_active=['1','0'];
    var data_tmp;
	var data_len;
	var data_page;
	var checkbox_status = [];
	var undeploy_flag = ['0'];
    date.setDate(date.getDate() + 1);
	select_time = date.getFullYear() +'-'+(date.getMonth()+1)+'-'+date.getDate();
	var hello2 = new omformeng('hello2');
	hello2.init(false)
	var create_api_text = CodeMirror.fromTextArea(document.getElementById('create_api_text'), {
		lineNumbers: true,
		matchBrackets: true,
	    autoCloseBrackets: true,
	    mode: "application/ld+json",
	    lineWrapping: true,
		indentUnit: 4,
	});
	var create_api_response = CodeMirror.fromTextArea(document.getElementById('create_api_response'), {
		lineNumbers: true,
		matchBrackets: true,
	    autoCloseBrackets: true,
	    mode: "application/ld+json",
	    lineWrapping: true,
		indentUnit: 4,
	});
{#	var create_api_response_1 = CodeMirror.fromTextArea(document.getElementById('create_api_response_1'), {#}
{#		lineNumbers: true,#}
{#		matchBrackets: true,#}
{#	    autoCloseBrackets: true,#}
{#	    mode: "application/ld+json",#}
{#	    lineWrapping: true,#}
{#		indentUnit: 4,#}
{#	});#}
	var create_api_error = CodeMirror.fromTextArea(document.getElementById('create_api_error'), {
		lineNumbers: true,
		matchBrackets: true,
	    autoCloseBrackets: true,
	    mode: "application/ld+json",
	    lineWrapping: true,
		indentUnit: 4,
	});
	var update_api_text = CodeMirror.fromTextArea(document.getElementById('update_api_text'), {
		lineNumbers: true,
		matchBrackets: true,
	    autoCloseBrackets: true,
	    mode: "application/ld+json",
	    lineWrapping: true,
		indentUnit: 4,
	});
	var update_api_response = CodeMirror.fromTextArea(document.getElementById('update_api_response'), {
		lineNumbers: true,
		matchBrackets: true,
	    autoCloseBrackets: true,
	    mode: "application/ld+json",
	    lineWrapping: true,
		indentUnit: 4,
	});
	var update_api_error = CodeMirror.fromTextArea(document.getElementById('update_api_error'), {
		lineNumbers: true,
		matchBrackets: true,
	    autoCloseBrackets: true,
	    mode: "application/ld+json",
	    lineWrapping: true,
		indentUnit: 4,
	});
	var query_api_text = CodeMirror.fromTextArea(document.getElementById('query_api_text'), {
		lineNumbers: true,
		matchBrackets: true,
	    autoCloseBrackets: true,
	    mode: "application/ld+json",
	    lineWrapping: true,
		indentUnit: 4,
	});
	var query_api_response = CodeMirror.fromTextArea(document.getElementById('query_api_response'), {
		lineNumbers: true,
		matchBrackets: true,
	    autoCloseBrackets: true,
	    mode: "application/ld+json",
	    lineWrapping: true,
		indentUnit: 4,
	});
	var query_api_error = CodeMirror.fromTextArea(document.getElementById('query_api_error'), {
		lineNumbers: true,
		matchBrackets: true,
	    autoCloseBrackets: true,
	    mode: "application/ld+json",
	    lineWrapping: true,
		indentUnit: 4,
	});
    $(function () {
    	var postbody = {a_app_id: '{{ app_id }}'};
    	omflowJsonAjax(postbody, '{% url "getApplicationFlowNameAjax" %}', getname_action);
	});
	
	
	function getname_action(data)
	{
		if(data.status == 200)
		{ 
			app_name = data.result
			$('.content-header > h1').append(app_name+'<small>{% trans '流程列表'%}</small>');
			$('ol.breadcrumb').append('<li class="active"><a href="javascript:location.reload();">'+app_name+'</a></li>')
		}
		else
		{ 
			omflowAlert('red', data.message);
		}
		$('ul.sidebar-menu ul.treeview-menu > li > a[href="/flowmanage/page/workflow-app/"]').parentsUntil(".sidebar-menu > .treeview-menu").siblings().removeClass('active menu-open').end().addClass('active menu-open');
		
		table = $('#flow_table').DataTable({
			"autoWidth": false,
			"ordering": false, 
			"dom":"<<t>'row'<'col-sm-5'i><'col-sm-7'p>>",
			"language": __const_language__,
			"serverSide": true,							//	serverside data loading
			"deferRender": true,
			"processing": false,
			"ajax": {
           		"url": "{% url 'listFlowActiveAjax' %}",
            	"type": "POST",
            	"headers": { "X-CSRFToken": csrfmiddlewaretoken },
				"contentType": "application/json;charset=utf-8;",
            	"data": function ( d ) {
							return JSON.stringify($.extend( {}, d, {
								app_name	: app_name,
								is_active	: is_active,
								datatable	: "True", 
								worktype	: "workflow",
								undeploy_flag: undeploy_flag,
								deploytime	: select_time,
							}));
						},
				"dataSrc": function(data){
						a = dataCompare(data,data_tmp,data_len,data_page,table);
						data_tmp = a['data_tmp']
						data_len = a['data_len']
						data_page = a['data_page']
						data.data = a['data.data']
						return data.data;
					},
        	},   
			"columns":[ 
				{"width": "15px", "data": "id", "orderable": false, "render": function (data, type, row)
                	{return '<input type="checkbox" class="icheckbox_minimal-blue" value="'+data+'" data-value="'+row.flow_name+'" data-uuid="'+row.flow_uuid+'" data-version="'+row.version+'" id="flow_'+data+'"><label for="flow_'+data+'"></label>'}
                },
				{"data": "flow_name"},
				{"data":"description", "width": "150px"},
				{"data":"is_active", "width": "45px", "orderable": false, "render": function(data,type,row)
					{	
						if(data)
	        				{return '<button class="btn btn-xs btn-success" onclick="update_FlowActive(this,\''+row.flow_name+'\',\'is_active\')">{% trans '啟用'%}</button>'}
	        			else	
	        				{return '<button class="btn btn-xs btn-warning" onclick="update_FlowActive(this,\''+row.flow_name+'\',\'is_active\')">{% trans '停用'%}</button>'}
	        		}
				},
				{"data":"version","width": "45px", "orderable": false},
				{"data":"flowlog", "orderable": false, "width": "45px", "render": function(data,type,row)
					{	
						if(data)
	        				{return '<button class="btn btn-xs btn-success" onclick="update_FlowActive(this,\''+row.flow_name+'\',\'flowlog\')">{% trans '啟用'%}</button>'}
	        			else	
	        				{return '<button class="btn btn-xs btn-warning" onclick="update_FlowActive(this,\''+row.flow_name+'\',\'flowlog\')">{% trans '停用'%}</button>'}
		        		
	        		}
	        	},
				{"data":"api", "orderable": false, "width": "45px", "render": function(data,type,row)
					{	
						if(data)
	        				{return '<button class="btn btn-xs btn-success" onclick="update_FlowActive(this,\''+row.flow_name+'\',\'api\')">{% trans '啟用'%}</button>'}
	        			else	
	        				{return '<button class="btn btn-xs btn-warning" onclick="update_FlowActive(this,\''+row.flow_name+'\',\'api\')">{% trans '停用'%}</button>'}
	        		}
	        	},
	        	{"data":"flow_name", "orderable": false, "width": "45px", "render": function(data, type, row)
					{return '<button class="btn btn-xs btn-default" onclick="workflow_set(\''+data+'\')">{% trans '設定'%}</button>'}
				},
			],
			rowCallback: function(row, data){
				$('td:eq(1), td:eq(2)', row).attr('onclick', 'javascript:location.href="/flowmanage/page/flowvaluePage/{{app_id}}/'+data.flow_uuid+'"')
			},
			drawCallback: function(){
				omflowCheckAll();
				$('.table input[type="checkbox"]').change(function(){
			    	enablebtt();
			    });
			    $.each(checkbox_status, function(){
					$('.table input[type="checkbox"]#'+this).prop('checked', true);
				});
			},
			preDrawCallback: function(settings) {
    			checkbox_status = []
    			$.each($('.table input[type="checkbox"]'), function(){
    				if (this.checked)
    				{	
    					checkbox_status.push(this.id)
    				}
    			});
    		} 
		});
	}
	
	
	function enablebtt(){
		var count = $('.table input:checkbox:checked').length;
    	if (count == 0)
    	{
    		$('#undeploy_flowdesign, #active_flowdesign, #inactive_flowdesign, #flow_output').prop('disabled', 'disabled');
    	}
    	else if( count == 1)
    	{
    		
    		$('#undeploy_flowdesign, #active_flowdesign, #inactive_flowdesign, #flow_output').prop('disabled','');
    	}
    	else
    	{
    		$('#undeploy_flowdesign, #active_flowdesign, #inactive_flowdesign').prop('disabled', '');
    		$('#flow_output').prop('disabled','disabled');
    	} 
	}
	
	
	function filter_flowdesign(){
		omflowFilter(['filter_search','filter_status','filter_length']);
		$('#modal-default-filter-confirm').off("click").on("click",function(){
			is_active = [];
			var searchkey = $.trim($('#modal-default-filter #search').val());
			var page_length = $('#modal-default-filter #page_length').val();
			$.each($('[name="filter_status"] input:checkbox:checked'), function(){
				is_active.push($(this).data('value'));
			});
			table.page.len(page_length);
			table.search(searchkey).draw();
		});
	}
	
	
    function filter_default(){
    	is_active = [];
    	table.page.len(10);
		table.search('');
    	table.draw(false);
    }
    
    
    function active_flowdesign(){
    	omflowListDialogue('delete', '{% trans '下列流程將被啟用'%}');
		
		$('#modal-default-list button:eq(2)').off("click").on("click",function(){
			postbody = {
				id			: [],
				active				: "active"
			}
			$.each($('.table input:checkbox:checked'), function(){
				postbody.id.push($(this).val());
			});
			
			$('#modal-default-list').on('hidden.bs.modal', function () {
				omflowJsonAjax(postbody,'{% url "activeFlowActiveAjax"%}', actions);
				Swal.fire({
				  title: '{% trans '處理中'%}...',
				  toast: true,
				  position: 'bottom-start',
				  showConfirmButton: false,
				});
				Swal.showLoading() ;
				$('#modal-default-list').off('hidden.bs.modal');
			});
		});
    }
    
    
    function inactive_flowdesign(){
    	omflowListDialogue('delete', '{% trans '下列流程將被停用'%}');
		
		$('#modal-default-list button:eq(2)').off("click").on("click",function(){
			postbody = {
					id			: [],
					active				: "inactive"
				}
				$.each($('.table input:checkbox:checked'), function(){
					postbody.id.push($(this).val());
				});
				
				$('#modal-default-list').on('hidden.bs.modal', function () {
					omflowJsonAjax(postbody,'{% url "activeFlowActiveAjax"%}', actions);
					Swal.fire({
					  title: '{% trans '處理中'%}...',
					  toast: true,
					  position: 'bottom-start',
					  showConfirmButton: false,
					});
					Swal.showLoading() ;
					$('#modal-default-list').off('hidden.bs.modal');
				});				
			});
	    }
	    
	    
	    function update_FlowActive(thisbt,flow_name,field){
	    	$(thisbt).empty().html('<i class="fa fa-refresh fa-spin" style="text-align:center;"></i>');
	    	var postbody = {
	    		app_name	: app_name,
	    		flow_name	: flow_name,
	    		field	: field
	    	}; 
	    	omflowJsonAjax(postbody, '{% url "updateFlowActiveAjax" %}',update_actions);
	    	
	    	function update_actions(data){
	    		if(data.status == 200)
				{table.draw(false);}
				else if (data.status == 404)
				{
					omflowAlert('yellow', data.message);
				}
				else if (data.status == 500)
				{
					omflowAlert('blue', data.message);
				}
				else if (data.status == 403)
				{
					omflowAlert('red', data.message);
				}
	    	}
	    }
	    
	    
	    function workflow_set(flow_name)
	    {
	    	$('#display_field_list').empty();
	    	var display_postbody = {app_name: app_name, flow_name: flow_name, need_default_field: 'True'}
	    	omflowJsonAjax(display_postbody, '{% url "getFlowFieldNameAjax" %}', display_callback)
	    	function display_callback(data)
	    	{
	    		if (data.status == 200)
	    		{
		    		var count = 0;
		    		var displayfield = data.result.display_field;
		    		delete data.result.display_field;
		    		var displaylist  = data.result;
		    		var displayoption = '';
		    		$.each(displaylist, function(index, value){
		    			displayoption +=('<option value="'+index+'">'+value+'</option>');
		    		})
		    		
		    		if (displayfield == null)
		    		{}
		    		else
		    		{
		    			displayfield = JSON.parse(displayfield);
		    			$.each(displayfield, function(index, value){
		    				display_field_add(displayoption, count);
		    				$('#display_'+count).val(index);
		    				count++;
		    			})
		    			
		    		}
		    		$('#display_field_list').sortable();
		    		$('#display_field_add').off('click').on('click', function(){
		    			display_field_add(displayoption, count);
		    			count++;
		    		});
		    		
		    		$('#display_field_confirm').off('click').on('click', function(){
		    			var display_field = {};
		    			$('#display_field_list select').each(function(){
		    				display_field[this.value] = $(this).find('option[value='+this.value+']').text();
		    			})
		    			var postdata = {field: 'display_field', app_name: app_name, flow_name: flow_name, display_field: JSON.stringify(display_field)}
		    			omflowJsonAjax(postdata, '{% url "updateFlowActiveAjax" %}', actions);
		    			Swal.fire({
						  title: '{% trans '處理中'%}...',
						  toast: true,
						  position: 'bottom-start',
						  showConfirmButton: false,
						});
						Swal.showLoading() ;
		    		});
		    		
		    		$('.select2').select2();
		    		$('#modal-workflow-set').modal('show');
		    	}
		    	else
		    	{
		    		omflowAlert('red', data.message);
		    	}
	    	}
	    	
	    	
			$('#modal-workflow-set .nav-tabs:not(:first) a').off('shown.bs.tab').on('shown.bs.tab', function(){
				var a = $($(this).attr('href')).children().attr('id');
				eval(a+'.refresh()')
			});
			$('#modal-workflow-set .nav-tabs:first a:not(:first)').off('shown.bs.tab').on('shown.bs.tab', function(){
	    		getApi(app_name, flow_name, $(this).data('value'))
			});
	    }
	    
	    
	    function getApi(app_name, flow_name, action)
	    {
	    	var form_postbody = {app_name: app_name, flow_name: flow_name, action: action};
	    	omflowJsonAjax(form_postbody, '{% url "getFlowAPIFormatAjax" %}', form_callback)
	    	
	    	
	    	function form_callback(data)
	    	{
	    		if (data.status == 200)
	    		{
	    			if (action == 'create')
	    			{
		    			var api = data.result.input;
		    			var api_path = data.result.input.api_path;
		    			delete api.api_path;
		    			var response = data.result.output.success1;
						var response_1 = data.result.output.success2;
						var error = data.result.output.error;
						$('#'+action+'_URL').val('http:\//'+location.host+'/rest/flowmanage/api/omdata/edit/'+api_path);
		    			create_api_text.setValue(JSON.stringify(api, undefined, 2));
		    			create_api_response.setValue(JSON.stringify(response, undefined, 2));
{#		    			create_api_response_1.setValue(JSON.stringify(response_1, undefined, 2));#}
		    			create_api_error.setValue(JSON.stringify(error, undefined, 2));
		    		}
		    		else if (action == 'update')
		    		{
		    			var api = data.result.input;
		    			var api_path = data.result.input.api_path;
		    			delete api.api_path;
		    			var response = data.result.output.success;
						var error = data.result.output.error;
						$('#'+action+'_URL').val('http:\//'+location.host+'/rest/flowmanage/api/omdata/edit/'+api_path);
		    			update_api_text.setValue(JSON.stringify(api, undefined, 2));
		    			update_api_response.setValue(JSON.stringify(response, undefined, 2));
		    			update_api_error.setValue(JSON.stringify(error, undefined, 2));
		    		}
		    		else
		    		{
		    			var api = {
				    				"security": "<security>",
									'data_no': '<{% trans '單號'%}>',
									"omflow_restapi": 1,
								}
			    		var api_path = data.result;
		    			var response = {
										'status': '200',
										'message': '{% trans '查詢成功'%}',
										'result': [{
												"data_id": "<{% trans '資料的唯一編號，推單時使用'%}>",
												"stop_chart_text": "<{% trans '停留的關卡名稱(人工處理點名稱'%})>"
											},{
												"data_id": "<{% trans '資料的唯一編號，推單時使用'%}>",
												"stop_chart_text": "<{% trans '停留的關卡名稱(人工處理點名稱'%})>"
											}
										]
									}
						var error = {
										'status': '404',
										'message': '{% trans '查詢失敗'%}'
									}
						$('#'+action+'_URL').val('http:\//'+location.host+'/rest/flowmanage/api/omdata-data-id/get/'+api_path);
		    			query_api_text.setValue(JSON.stringify(api, undefined, 2));
		    			query_api_response.setValue(JSON.stringify(response, undefined, 2));
		    			query_api_error.setValue(JSON.stringify(error, undefined, 2));
		    		}
	    		}
	    		else
		    	{
		    		omflowAlert('red', data.message);
		    	}
	    	}
	    }
	    
	    
	    function display_field_add(displayoption, count)
	    {
	    	$('#display_field_list').append('<li id="displaylist_'+count+'" class="ui-state-default" style=" margin: 0 0 0 0;height:30px;">'
					+ '<table width="100%"><tr>'
					+'  <td width="4%" style="vertical-align:middle;"><span class="fa fa-arrows-v"></span></td>'
					+'  <td width="92%"><select id="display_'+count+'" class="form-control select2" style="width:100%">'+displayoption+'</select></td>'
					+'  <td width="4%" align="right" style="color:silver;"><i class="far fa-trash-alt" onclick="display_field_delete(\'displaylist_'+count+'\')" ></i></td>'
					+'</tr></table></li>');
			$('#display_'+count).select2();
	    }
	    
	    
	    function display_field_delete(thislist)
	    {
	    	$('#'+thislist).remove();
	    }
	    
	    
	    function actions(data)
	    {
	    	Swal.close();
			if(data.status == 200)
			{
				LSide();
				table.draw(false);
				Swal.fire({
		      	  icon : 'success',
		      	  title: '{% trans '成功'%}',
		      	  toast: true,
			  	  position: 'bottom-start',
			  	  showConfirmButton: false,
		      	  timer: 2000,
	  		    });
			}	
			else if (data.status == 404)
			{
				omflowAlert('yellow', data.message);
			}
			else if (data.status == 500)
			{
				omflowAlert('blue', data.message);
			}
			else if (data.status == 403)
			{
				omflowAlert('red', data.message);
			}
		}
		
		var table_routine = setInterval(function(){ table.draw(false);}, {{user.frequency}}*1000);
    </script>
{% endblock %}