{% extends 'base.html' %}
{% load static %}
{% load i18n %} 
{% block content %}
<!-- 
403.html 403 Page
author : Pei lin
-->

<section class="content-header">
    </section>

    <!-- Main content -->
    <section class="content">

      <div class="error-page">
        <h2 class="headline text-red">403</h2>

        <div class="error-content">
          <br></br>
          <h3><i class="fa fa-warning text-red"></i> Oops ! No Permission !</h3>
		  <p>
             Please contact system manager, Thanks !
          </p
        </div>
      </div>
      <!-- /.error-page -->

    </section>
    <!-- /.content -->

{% endblock%}