{% load static %}
{% load i18n %} 
{% load omflow_tags %}	
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>OMFLOW</title>
	<!-- Tell the browser to be responsive to screen width -->
	<link rel="shortcut icon" href="{% static "img/favicon.ico" %}" />
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<link rel="stylesheet" href="{% static 'components/bootstrap/dist/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'plugins/fontawesome-free-5.13.0-web/css/all.css' %}">
	<link rel="stylesheet" href="{% static 'plugins/fontawesome-free-5.13.0-web/css/v4-shims.css' %}">
	
	<link rel="stylesheet" href="{% static 'components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css'%}">
	<link rel="stylesheet" href="{% static 'plugins/timepicker/bootstrap-timepicker.min.css'%}">
	<link rel="stylesheet" href="{% static 'components/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css'%}">
 	<!-- DataTables -->
	<link rel="stylesheet" href="{% static 'components/datatables.net-bs/css/dataTables.bootstrap.min.css'%} ">
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
	<link rel="stylesheet" href="{% static 'plugins/iCheck/minimal/blue.css' %}">
	<!-- Google Font
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic"> -->
	<link rel="stylesheet" href="{% static 'css/jquery-simple-tree-table.css' %}">
	<!-- Select2 -->
	<link rel="stylesheet" href="{% static 'components/select2/dist/css/select2.css' %}">
	<!-- Ion Slider -->
	<link rel="stylesheet" href="{% static 'plugins/Ion-Slider/ion.rangeSlider.min.css' %}">
	<!-- daterange picker -->
	<link rel="stylesheet" href="{% static 'components/bootstrap-daterangepicker/daterangepicker.css' %}">
	<link rel="stylesheet" href="{% static 'plugins/CodeMirror/lib/codemirror.css' %}">
	<link rel="stylesheet" href="{% static 'plugins/CodeMirror/theme/eclipse.css' %}">
	
	<link rel="stylesheet" href="{% static 'plugins/SweetAlert2/dist/sweetalert2.css'%}">
	<link rel="stylesheet" href="{% static 'plugins/select2-to-tree-master/src/select2totree.css' %}">
	
	<link rel="stylesheet" href="{% static 'css/AdminLTE.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/omflow.css'%}?version={%omflow_version%}">
	
	
	<script type="text/javascript" src="{% url 'javascript-catalog' %}"></script> 
	<!-- jQuery 3 -->
	<script src="{% static 'components/jquery/dist/jquery.min.js'%}"></script>
	<!-- jQuery UI -->
	<script src="{% static 'components/jquery-ui/jquery-ui.min.js'%}"></script>
	<!-- Bootstrap 3.3.7 -->
	<script src="{% static 'components/bootstrap/dist/js/bootstrap.min.js'%}"></script>
	<!-- omflow_constant -->
	<script src="{% static 'js/constant.js'%}?version={%omflow_version%}"></script>
	<!-- omflow -->
	<script src="{% static 'js/omflow.js'%}?version={%omflow_version%}"></script>
	<!-- moment -->
	<script src="{% static 'components/moment/min/moment.min.js' %}"></script>
	<!-- datepicker -->
	<script src="{% static 'components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js'%}"></script>
	<script src="{% static 'components/bootstrap-datepicker/dist/locales/bootstrap-datepicker.zh-hant.min.js'%}"></script>
	<script src="{% static 'components/bootstrap-datepicker/dist/locales/bootstrap-datepicker.zh-hans.min.js'%}"></script>
	<script src="{% static 'components/bootstrap-datepicker/dist/locales/bootstrap-datepicker.ja.min.js'%}"></script>
	<script src="{% static 'plugins/timepicker/bootstrap-timepicker.min.js'%}"></script>
	<script src="{% static 'components/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.min.js'%}"></script>
	<script src="{% static 'components/bootstrap-datetimepicker-master/js/locales/bootstrap-datetimepicker.zh-hant.js'%}"></script>
	<script src="{% static 'components/bootstrap-datetimepicker-master/js/locales/bootstrap-datetimepicker.zh-hans.js'%}"></script>
	<script src="{% static 'components/bootstrap-datetimepicker-master/js/locales/bootstrap-datetimepicker.ja.js'%}"></script>
	<!-- DataTables -->
	<script src="{% static 'components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
	<script src="{% static 'components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
	<script src="{% static 'js/jquery-simple-tree-table.js' %}"></script>
	<!-- Select2 -->
	<script src="{% static 'components/select2/dist/js/select2.js' %}"></script>
	<!-- Ion Slider -->
	<script src="{% static 'plugins/Ion-Slider/ion.rangeSlider.min.js' %}"></script>
	<!-- date-range-picker -->
	<script src="{% static 'components/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
	<script src="{% static 'components/bootstrap-daterangepicker/sum().js' %}"></script>
{#	<script src="{% static 'js/workflow.js'%}"></script>#}
	<script src="{% static 'plugins/CodeMirror/lib/codemirror.js'%}"></script>
	<script src="{% static 'plugins/CodeMirror/lib/python.js'%}"></script>
	<script src="{% static 'plugins/CodeMirror/lib/javascript.js'%}"></script>
	<script src="{% static 'plugins/CodeMirror/lib/placeholder.js'%}"></script>
	<script src="{% static 'plugins/CodeMirror/lib/matchbrackets.js'%}"></script>
	<script src="{% static 'plugins/CodeMirror/lib/continuecomment.js'%}"></script>
	<script src="{% static 'plugins/CodeMirror/lib/comment.js'%}"></script>

	<script src="{% static 'plugins/SweetAlert2/dist/sweetalert2.js'%}"></script>
	<script src="{% static 'plugins/SweetAlert2/plugins/polyfill.min.js'%}"></script>
	
	<script src="{% static 'plugins/select2-to-tree-master/src/select2totree.js'%}"></script>
	
