{% load static %}
{% load i18n %} 
{% load omflow_tags %}
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar Menu -->
      <ul class="sidebar-menu" data-widget="tree">
        <!-- Optionally, you can add icons to the links -->
      </ul>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
    
    <div id="mymission" style="display:None;">
      <li>
	  	<a href="/my-mission/page/mission/#mymission">
		  <i class="fa fa-commenting"></i> <span>{% trans '我的任務' %}</span>
		  <span class="pull-right-container">
            <small class="label pull-right bg-green"></small>
            <small class="label pull-right bg-yellow"></small>
       	    <small class="label pull-right bg-red"></small>
          </span>
	  	</a>
	  </li>
    </div>
    
    <div id="service" style="display:None;">
      <li>
		<a href="/service/page/list/">
		  <i class="fa fa-shopping-cart"></i> <span>{% trans '服務請求' %}</span>
		</a>
	  </li>
    </div>
    
    {%omflow_version_type as version_type%}
    {%if version_type != "C" and perms.ommonitor.OmMonitor_Manage%}
    <div id="servermanage" style="display:None;">
      <li class="treeview">
        <a ><i class="fa fa-server"></i> <span>{% trans '資料收集' %}</span>
          <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
        </a>
        <ul class="treeview-menu">
          <li><a href="/monitor/page/nodeGroupsManagePage/"><i class="fa fa-circle-o"></i>{% trans '收集器管理' %}</a></li>
          <li><a href="/monitor/page/monitorManagePage/"><i class="fa fa-circle-o"></i>{% trans '收集器流程' %}</a></li>
          <li><a href="/monitor/page/monitorAPIManagePage/"><i class="fa fa-circle-o"></i>{% trans '收集器API' %}</a></li>
          <li><a href="/monitor/page/eventManagePage/"><i class="fa fa-circle-o"></i>{% trans '事件管理' %}</a></li>
        </ul>
      </li>
    </div>
    {% endif %}
    
    {% if perms.omformflow.OmFormFlow_Manage %}
    <div id="flowmgmt" style="display:None;">
      <li class="treeview">
        <a><i class="fa fa-cubes"></i> <span>{% trans '應用管理' %}</span>
          <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
        </a>
        <ul class="treeview-menu">
          <li><a href="/flowmanage/page/flow-app/"><i class="fa fa-circle-o"></i>{% trans '應用設計' %}</a></li>
          <li><a href="/flowmanage/page/workflow-app/"><i class="fa fa-circle-o"></i>{% trans '已上架應用' %}</a></li>
          <li><a href="/flowmanage/page/scheduleflowManagePage/"><i class="fa fa-circle-o"></i>{% trans '排程設定' %}</a></li>
          <li><a href="/flowmanage/page/parameterPage/"><i class="fa fa-circle-o"></i>{% trans '參數管理' %}</a></li>
          {%if version_type != "C"%}
          <li><a href="/flowmanage/page/SLAManagePage/"><i class="fa fa-circle-o"></i>{% trans '服務水準管理' %}</a></li>
          {% endif %}
        </ul>
      </li>
    </div>
    {% endif %}
    
    <div id="staffmgmt" style="display:None;">
      <li class="treeview">
        <a ><i class="fa fa-user"></i> <span>{% trans '人員管理' %}</span>
          <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
        </a>
        <ul class="treeview-menu">
            {% if perms.omuser.OmUser_View %}
          <li><a href="/accounts/page/user-management/"><i class="fa fa-circle-o"></i>{% trans '使用者管理' %}</a></li>
           	{% else %}
          <li><a href="/accounts/page/profile/{{user.username}}/"><i class="fa fa-circle-o"></i>{% trans '使用者設定' %}</a></li>
          	{% endif%}	
           	{% if perms.omuser.OmGroup_View %}
          <li><a href="/accounts/page/role-management/"><i class="fa fa-circle-o"></i>{% trans '角色管理' %}</a></li>
          <li><a href="/accounts/page/group-management/"><i class="fa fa-circle-o"></i>{% trans '組織管理' %}</a></li>
      			{% get_ldap_bool as ldap_bool %}
      			{%if version_type != "C" and ldap_bool %}
          <li><a href="/accounts/page/adgroup-management/"><i class="fa fa-circle-o"></i>{% trans 'AD檢視' %}</a></li>
       			{% endif %}
       			{% get_org_bool as org_bool %}
  			    {%if version_type != "C" and org_bool%}
      	  <li><a href="/organization/page/position-management/"><i class="fa fa-circle-o"></i>{% trans '職務管理' %}</a></li>
       	  <li><a href="/organization/page/organization-management/"><i class="fa fa-circle-o"></i>{% trans '組織圖管理' %}</a></li>
       	  		{% endif %}
       		{% endif %}
        </ul>
      </li>
    </div>
    
    {% if user.is_superuser %}
    <div id="syssetting" style="display:None;">
      <li class="treeview">
        <a ><i class="fa fa-gear"></i> <span>{% trans '系統設定' %}</span>
          <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
        </a>
        <ul class="treeview-menu">
          <li><a href="/page/system/"><i class="fa fa-circle-o"></i>{% trans '系統設定' %}</a></li>
          <li><a href="/page/file-management/"><i class="fa fa-circle-o"></i>{% trans '附加檔案維護' %}</a></li>
          <li><a href="/page/sidebar-management/"><i class="fa fa-circle-o"></i>{% trans '主選單管理' %}</a></li>
        </ul>
      </li>
    </div>
    {% endif%}
    
    
{#    <div id="report" style="display:None;">#}
{#      <li class="treeview"><a ><i class="fa fa-bar-chart"></i> <span>報表</span></a></li>#}
{#    </div>#}
    
    <script>
	var url = window.location;
	var draw = 1;
	var LSide = function(){
		$.ajax({
    		url: "{% url 'loadLSideAjax' %}",
			type: 'post',
			headers: { "X-CSRFToken": "{{ csrf_token }}" },
			contentType: "application/json;charset=utf-8;",
			data: JSON.stringify({draw_$: draw}),
			success: function (data) {	
				if (data.status == 200)
				{
					loadLSide_actions(data);
					// for sidebar menu but not for treeview submenu
					$('ul.sidebar-menu > li > a').filter(function() {
						return this.href == url;
					}).parent().siblings().removeClass('active').end().addClass('active');
					// for treeview which is like a submenu
					$('ul.sidebar-menu ul.treeview-menu > li > a').filter(function() {
					    return this.href == url;
					}).parentsUntil(".sidebar-menu > .treeview-menu").siblings().removeClass('active menu-open').end().addClass('active menu-open');
				}
				else
				{
					if(data.status == undefined)
					{
						omflowAlert('yellow', '{% trans '你已被登出'%}')
						$('#modal_yellow button').off('click').on('click', function(){
							location.href="/"
						});
						clearInterval(LSide_routine)
					}
					else
					{
						omflowAlert('red', data.message);
					}
					
				}
			},
			error: function(req, status, err) {
				Swal.fire({
				  icon : 'warning',
				  title: '{% trans '主機連線不穩'%}',
				  toast: true,
				  position: 'bottom-start',
				  showConfirmButton: false,
				  timer: 1000,
				});
	        	console.log('Something went wrong', status, err);
	    	}
    	});
		draw++;
	}
	
	function loadLSide_actions(data)
	{
		if (data.result.sidebar != null && data.result.sidebar != "" && data.result.sidebar.length != 0)
		{
			$('ul.sidebar-menu').empty();
			defaultarr = ['mymission', 'service', 'servermanage', 'flowmgmt', 'report', 'syssetting', 'staffmgmt']
			$.each(data.result.sidebar, function(index, value){
				if (defaultarr.indexOf(value.id) >= 0 && (!value.p_id))
				{
					$('ul.sidebar-menu').append($('div#'+value.id+'>li').clone());
				}
				else if ( (value.flow_uuid == 'custom' | value.flow_uuid == 'app') && (!value.p_id))
				{
					{%if version_type == "C"%}
						if (value.name == '服務管理')
							{return}
					{%endif%}
					$('ul.sidebar-menu').append('<li id="'+value.id+'" class="treeview">'
	        					+'<a ><i class="fa fa-'+value.icon+'"></i> <span>'+value.name+'</span>'
	          					+'<span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>'
	        					+'</a>'
	        					+'<ul class="treeview-menu">'
	        					+'</ul>'
	        					+'</li>'
					)
				}
				else if ( (value.flow_uuid == 'custom' | value.flow_uuid == 'app') && (value.p_id))
				{
					$('ul.sidebar-menu li#'+value.p_id+'>ul').append('<li id="'+value.id+'" class="treeview">'
	        					+'<a ><i class="fa fa-'+value.icon+'"></i> <span>'+value.name+'</span>'
	          					+'<span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>'
	        					+'</a>'
	        					+'<ul class="treeview-menu">'
	        					+'</ul>'
	        					+'</li>'
					)
				}
				else if (!value.p_id)
				{
					$('ul.sidebar-menu').append('<li id="'+value.id+'" class="treeview">'
	        					+'<a ><i class="fa fa-'+value.icon+'"></i> <span>'+value.name+'</span>'
	          					+'<span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>'
	        					+'</a>'
	        					+'</li>'
					)
				}
				else
				{	
					var app_id =value.p_id.split('-').pop();
					$('ul.sidebar-menu li#'+value.p_id+'>ul').append('<li id="'+value.id+'">'
	        					+'<a href="/flowmanage/page/workflowPage/'+app_id+'/'+value.flow_uuid+'"><i class="fa fa-'+value.icon+'"></i> <span>'+value.name+'</span>'
	        					+'</a>'
	        					+'</li>'
					)
				}
			});
		}
		
		$('ul.sidebar-menu > li > a > .pull-right-container > small.bg-red').empty().text(data.result.mission[0]);
		$('ul.sidebar-menu > li > a > .pull-right-container > small.bg-yellow').empty().text(data.result.mission[1]);
		$('ul.sidebar-menu > li > a > .pull-right-container > small.bg-green').empty().text(data.result.mission[2]);
	}    
	
	LSide();
	var LSide_routine = setInterval(function(){ LSide()}, {{user.frequency}}*1000);
    </script>