{% extends 'base.html' %}
{% load static %}
{% load i18n %} 
{% block content %}
<!-- 
	system_config.html 
	author : Pei lin
-->
    <!-- Content Header (Page header) -->
   <section class="content-header">
      <h1>
     	{% trans ' 系統設定' %}
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> {% trans '首頁' %}</a></li>
        <li class="active">{% trans '系統設定' %}</li>
      </ol>
    </section>
    
    <section class="content">
      <div class="row">
    	<div class="col-xs-12">
    	  <form id="system_config" onsubmit="omflowSubmit(); return false;" autocomplete="off">
    	  {% csrf_token %}
    	  <div class="box box-primary">
    	  	<div class="box-header with-border">
    	  	  <button type="button" class="btn btn-default" onclick="store_config()" style="margin:1px 0px;"><i class="fa fa-save"></i> {% trans '儲存' %}</button>
    	  	</div>
    	  	<!-- /.box-header -->
            <div class="box-body">
          	  <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
              	  	<h4>{% trans '一般設定'%}</h4>
              	  </div>
              	</div>
            	<div class="col-md-4">
            	  <div class="form-group">
				    <label>{% trans '最大執行緒數量'%}</label>
					<input type="text" name="POOL_MAX_WORKER" id="POOL_MAX_WORKER" class="form-control" placeholder="{% trans '最大執行緒數量'%}" readonly="true"/>					
				  </div>
				</div>
				<div class="col-md-4">
				  <div class="form-group" name="LOG_LEVEL">
                	<label>LOG_等級</label>
                	<select class="form-control select2"  name="LOG_LEVEL" style="width: 100%;">
                  	  <option id="DEBUG">DEBUG</option>
                  	  <option id="INFO">INFO</option>
                  	  <option id="ERROR">ERROR</option>
                  	  <option id="CRITICAL">CRITICAL</option>
                	</select>
                  </div>
              	</div>
              	<!-- /.col -->
              </div>
              <!-- /.row -->
              <div class="sep-line"></div>
              <div class="row" name="ldap">
                <div class="col-md-12">
                  <div class="form-group">
              	  	<h4>{% trans 'LDAP 設定'%}<small>{% trans '(修改設定後即自動同步)'%}</small><button type="button" class="btn btn-default pull-right" onclick="check_connect()" style="margin:1px 0px;" title="{% trans 'LDAP 連線檢查' %}"><i class="fa fa-link"></i> {% trans '連線檢查' %}</button></h4>
              	  </div>
              	</div>
              	<div class="col-md-4">
            	  <div class="form-group">
				    <label>server ip</label>
					  <input type="text" name="ldap_client_server" id="ldap_client_server" class="form-control" placeholder="server ip"/>					
				  </div>
				  <!-- /.form-group -->
				</div>
              	<!-- /.col -->
              	<div class="col-md-4">
            	  <div class="form-group">
				    <label>server port</label>
					  <input type="text" name="ldap_client_server_port" id="ldap_client_server_port" class="form-control" placeholder="server port"/>					
				  </div>
				  <!-- /.form-group -->
				</div>
              	<!-- /.col -->
              	<div class="col-md-4">
            	  <div class="form-group">
				    <label>server domain</label>
					  <input type="text" name="ldap_client_domain" id="ldap_client_domain" class="form-control" placeholder="server domain"/>					
				  </div>
				  <!-- /.form-group -->
				</div>
              	<!-- /.col -->
              	<div class="col-md-4">
            	  <div class="form-group">
				    <label>bind user</label>
					  <input type="text" name="ldap_bind_user" id="ldap_bind_user" class="form-control" placeholder="bind user"/>					
				  </div>
				  <!-- /.form-group -->
				</div>
              	<!-- /.col -->
              	<div class="col-md-4">
            	  <div class="form-group">
				    <label>bind password</label>
				      <input type="password" style="display:none;">
					  <input type="password" name="ldap_bind_user_password" id="ldap_bind_user_password" class="form-control" placeholder="bind password" autocomplete="off"/>					
				  </div>
				  <!-- /.form-group -->
				</div>
              	<!-- /.col -->
              	<div class="col-md-4">
            	  <div class="form-group">
				    <label>base dn</label>
					  <input type="text" name="ldap_base_dn" id="ldap_base_dn" class="form-control" placeholder="base dn"/>					
				  </div>
				  <!-- /.form-group -->
				</div>
              	<!-- /.col -->
              </div>
              <!-- /.row -->
              <div class="sep-line"></div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
				    <label>個資使用同意</label>
					  <textarea row="9" name="PI_agree" id="PI_agree" class="form-control" placeholder="個資使用同意" style="height:150px;resize:none;"></textarea>					
				  </div>
				  <!-- /.form-group -->
                </div>
                <!-- /.col -->
                <div class="col-md-12">
                  <div class="form-group">
				    <label>軟體使用同意</label>
					  <textarea row="9" name="SU_agree" id="SU_agree" class="form-control" placeholder="軟體使用同意" style="height:150px;resize:none;"></textarea>					
				  </div>
				  <!-- /.form-group -->
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
          </form>
        </div>
        <!-- /.col -->
		<div class="col-xs-12">
          <div class="box box-default">
          	<div class="box-body">
          	  <div class="row">
                <div class="col-md-12">
                  <div class="form-group" style="margin-bottom:0px">
              	  	<label><h4>{% trans '授權資料'%}</h4></label>
              	  	<button type="button" class="btn btn-default pull-right" onclick="$('#file').click()" style="margin:1px 0px;"><i class="fab fa-buffer"></i> {% trans '上傳' %}</button>
          	  		<input type="file" id="file" onchange="license_upload(this.files)" style="display:none;"/>
              	  </div>
              	</div>
            	<div class="col-md-12">
            	  <div class="form-group">
{#				    <label>{% trans '客戶名稱'%}</label>#}
				      <textarea id="license" class="form-control" style="height:150px;resize:none;" readonly="true"></textarea>
{#					  <input type="text" name="customer_name" id="customer_name" class="form-control" placeholder="{% trans '客戶名稱'%}" readonly="true"/>					#}
				  </div>
				</div>
{#				<div class="col-md-4">#}
{#            	  <div class="form-group">#}
{#				    <label>{% trans '版本'%}</label>#}
{#					  <input type="text" name="version" id="version" class="form-control" placeholder="{% trans '版本'%}" readonly="true"/>					#}
{#				  </div>#}
{#				</div>#}
{#				<div class="col-md-4">#}
{#            	  <div class="form-group">#}
{#				    <label>{% trans '授權類型'%}</label>#}
{#					  <input type="text" name="lic_type" id="lic_type" class="form-control" placeholder="{% trans '授權類型'%}" readonly="true"/>					#}
{#				  </div>#}
{#				</div>#}
{#				<div class="col-md-4">#}
{#            	  <div class="form-group">#}
{#				    <label>{% trans '使用者數量'%}</label>#}
{#					  <input type="text" name="user_count" id="user_count" class="form-control" placeholder="{% trans '使用者數量'%}" readonly="true"/>					#}
{#				  </div>#}
{#				</div>#}
{#				<div class="col-md-4">#}
{#            	  <div class="form-group">#}
{#				    <label>{% trans '應用數量'%}</label>#}
{#					  <input type="text" name="app_count" id="app_count" class="form-control" placeholder="{% trans '應用數量'%}" readonly="true"/>					#}
{#				  </div>#}
{#				</div>#}
{#				<div class="col-md-4">#}
{#            	  <div class="form-group">#}
{#				    <label>{% trans '設備數量'%}</label>#}
{#					  <input type="text" name="device_count" id="device_count" class="form-control" placeholder="{% trans '設備數量'%}" readonly="true"/>					#}
{#				  </div>#}
{#				</div>#}
			  </div>
          	</div>
          </div>
        </div>      
      </div>
      <!-- /.row -->
    </section>
    
    
    <div class="modal fade" id="modal-license-upload" data-backdrop="static">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title"><i class="fab fa-buffer"></i>&nbsp;&nbsp;{% trans "升級授權"%}</h4>
		  </div>
		  <div class="modal-body">
		  	<ul class="mailbox-attachments clearfix" id="license_file">
            </ul>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default pull-left" data-dismiss="modal">{% trans "取消"%}</button>
			<button type="button" class="btn btn-primary" data-dismiss="modal" onclick="license_upload_save()">{% trans "確定"%}</button>
		  </div>
		</div>
	  </div><!-- /.modal-content -->
	</div>
    <style>
    	.sep-line {
            width: 100%;
            height: 1px;
            border-top: solid #ACC0D8 1px;
            margin: 0px 0px 15px;
        }
    </style>
	<script>
	$(function(){
		var postdata = {};
		$.ajax({
			url: "{% url 'loadSystemConfigAjax' %}",
			type: 'post',
			headers: { "X-CSRFToken": "{{ csrf_token }}" },
			data: JSON.stringify({}),
			contentType: "application/json;charset=utf-8;",
			success: function (data) {
				$('select[name="LOG_LEVEL"]').val(data.result.LOG_LEVEL).trigger('change')
				$('#POOL_MAX_WORKER').val(10);
				$('#PI_agree').val(data.result.PI_agree);
				$('#SU_agree').val(data.result.SU_agree);
				$('#license').val(data.result.license);
				$('#ldap_client_server').val(data.result.ldap_config.ldap_client_server);
				$('#ldap_client_server_port').val(data.result.ldap_config.ldap_client_server_port);
				$('#ldap_client_domain').val(data.result.ldap_config.ldap_client_domain);
				$('#ldap_bind_user').val(data.result.ldap_config.ldap_bind_user);
				$('#ldap_bind_user_password').val(data.result.ldap_config.ldap_bind_user_password);
				$('#ldap_base_dn').val(data.result.ldap_config.ldap_base_dn);
			}
		});
		if ('{{is_ldap}}' == 'False')
		{
			$('div[name="ldap"] input').prop('disabled', true);
			$('div[name="ldap"] button').prop('disabled', true);
		}
	});
	
	function store_config()	 
	{	
		Swal.fire({
		  title: '處理中...',
		  toast: true,
		  position: 'bottom-start',
		  showConfirmButton: false,
		});
		Swal.showLoading() ;	
		omflowAjax('system_config','{% url 'updateSystemConfigAjax' %}',actions);
	}
	
	function actions(data)
	{
		Swal.close();
		if(data.status == 200)
		{	
			Swal.fire({
	      	  icon : 'success',
	      	  title: data.message,
	      	  toast: true,
		  	  position: 'bottom-start',
		  	  showConfirmButton: false,
	      	  timer: 2000,
		    });
		}	
		else
		{	
			omflowAlert('yellow', data.message);
		}
	}
	
	function check_connect(){
		Swal.fire({
		  title: '處理中...',
		  toast: true,
		  position: 'bottom-start',
		  showConfirmButton: false,
		});
		Swal.showLoading() ;
		var ldap_client_server 		= $('#ldap_client_server').val();
		var ldap_client_server_port = $('#ldap_client_server_port').val();
		var ldap_client_domain 		= $('#ldap_client_domain').val();
		var ldap_bind_user 			= $('#ldap_bind_user').val();
		var ldap_bind_user_password = $('#ldap_bind_user_password').val();
		var ldap_base_dn 			= $('#ldap_base_dn').val();
		postdata = {
			ldap_client_server		: ldap_client_server,
			ldap_client_server_port	: ldap_client_server_port,
			ldap_client_domain		: ldap_client_domain,
			ldap_bind_user			: ldap_bind_user,
			ldap_bind_user_password : ldap_bind_user_password,
			ldap_base_dn			: ldap_base_dn
		}
		omflowJsonAjax(postdata, '{% url 'ldapCheckConnectAjax' %}', check_connect_action);
	}
	
	function check_connect_action(data)
	{
		Swal.close();
		if(data.status == 200)
		{
			Swal.fire({
	      	  icon : 'success',
	      	  title: data.message,
	      	  toast: true,
		  	  position: 'bottom-start',
		  	  showConfirmButton: false,
	      	  timer: 2000,
		    });
		}	
		else if (data.status == 404)
		{
			omflowAlert('yellow', data.message);
		}
		
	}
	
	var input_file;
	function license_upload(files) {
	    if (files.length) {
	        var file = files[0];
	        var reader = new FileReader();
	        reader.onload = function(event) {
	        	var customer_name = /customer_name=(.*)/g.test(reader.result);
				var lic_type 	  = /lic_type=([A-Z])/g.test(reader.result);
				var user_count 	  = /user_count=(\d*)/g.test(reader.result);
				var app_count 	  = /app_count=(\d*)/g.test(reader.result);
				var device_count  = /device_count=(\d*)/g.test(reader.result);
				var check_code 	  = /check_code=(.*)/g.test(reader.result);
				if (customer_name && lic_type && user_count && app_count && device_count && check_code )
				{
		        	$('#license_file').empty().append('<li style="width:100%;"><div class="mailbox-attachment-info">'+
					        	'<p class="mailbox-attachment-name" style="word-break: break-all;"><i class="fa fa-paperclip"></i>&nbsp;&nbsp;'+file.name+'</p>'+
					            '<span class="mailbox-attachment-size">'+omflowSizeUnit(file.size)+'</span>'+
					      		'</div></li>')
					$('#modal-license-upload').modal('show');
				}
				else
				{
					omflowAlert('blue', '授權檔案錯誤，請重新選擇檔案')
				}
	        }
	        input_file = file
	        reader.readAsText(file);
        }
    }
    
    
    function license_upload_save()
    {
    	Swal.fire({
		  title: '升級中...',
		  toast: true,
		  position: 'bottom-start',
		  showConfirmButton: false,
		});
		Swal.showLoading();
		var form_data = new FormData();
		var url = '{% url "uploadLicenseFileAjax"%}';
		form_data.append("csrfmiddlewaretoken", '{{ csrf_token }}');
		form_data.append("file", input_file);
		
		$.ajax({
			url: url,
			type: 'post',
	        data: form_data,
	        cache:false,
	        processData: false,
	        contentType: false,
	        dataType: 'json',
	        success: function (data) {
	        	if(data.status == 200)
	        	{
		            input_file =  ''
		            Swal.fire({
			      	  icon : 'success',
			      	  title: '授權資料上傳成功',
			      	  toast: true,
				  	  position: 'bottom-start',
				  	  showConfirmButton: false,
			      	  timer: 2000,
			      	  onClose: function() {
						location.reload();
					  }
		  		    });
		  		    
		  		 }
		  		 else
		  		 {
		  		 	 Swal.close();
		  		 	omflowAlert('red', data.messge);
		  		 }
	        },
	        error: function(req, status, err) {
	        	Swal.close();
				$('#modal_error').modal('show');
	        	console.log('Something went wrong', status, err);
	    	}
		});
		
		$('#file').val('');
    }
    
	</script>
{% endblock %}