{% extends 'base.html' %}
{% load static %}
{% load i18n %} 
{% block content %}
<!-- 
	role_detail.html roleDetailPage
	author : Pei lin
-->
<!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        {% trans '權限角色管理' %}
        <small id="h1_small"></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="{% url 'homePage' %}"><i class="fa fa-dashboard"></i>{% trans '首頁' %}</a></li>
        <li><a href="#">{% trans '人員管理' %}</a></li>
        <li><a href="/accounts/page/role-management/">{% trans '權限角色管理' %}</a></li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="row">
       <!-- column -->
        <div class="col-md-12">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#p1" data-toggle="tab">{% trans '設定' %}</a></li>
              <li><a href="#p2" data-toggle="tab">{% trans '使用者' %}</a></li>
              <li><a href="#p3" data-toggle="tab">{% trans '權限' %}</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="p1">
              	<div class="box box-default">
              	  <div class="box-header with-border">
			  	  	<button type="button" class="btn btn-default" onclick="store_role_name()" id="store_role_name" style="margin:1px 0px;display:None;"><i class="fa fa-save"></i> {% trans '儲存' %}</button>
				  </div>
              	  <div class="box-body">
				  	<div class="row">
					  <div class="col-md-6">
					    <div class="form-group has-warning">
					      <label>{% trans '角色名稱'%}</label>
							<input type="text" name="group_name" id="group_name" class="form-control" placeholder="{% trans '角色名稱'%}" readonly="true"/>					
						</div>
					  </div>
					  <div class="col-md-6">
						<div class="form-group">
						  <label>{% trans '角色說明'%}</label>
							<input type="text" name="group_descript" id="group_descript" class="form-control" placeholder="{% trans '角色說明'%}" readonly="true"/>					
						</div>
					  </div>
					  <!-- /.col -->
					</div>
					<!-- /.row -->
				  </div>
				  <!-- /.bos-body -->
              	</div>
              	<!-- /.box -->
              </div>
              <!-- /.tab-pane p1 -->
              <div class="tab-pane" id="p2">
              	<div class="box box-default">
              	  <div class="box-header with-border">
			  	  	<button type="button" class="btn btn-default" onclick="store_role()" id="store_role_button" style="margin:1px 0px;display:None;"><i class="fa fa-save"></i> {% trans '儲存' %}</button>
			  	  	<button type="button" title="{% trans '篩選使用者' %}" class="btn btn-default" onclick="filter_search(user_table_body)" style="margin:1px 0px;"><i class="fa fa-filter"></i>{% trans ' 篩選' %}</button>
			  	  	<button type="button" title="{% trans '清除篩選條件' %}" class="btn btn-default" onclick="filter_default(user_table_body)" style="margin:1px 0px;"><i class="fa fa-undo"></i>{% trans ' 還原' %}</button>
				  </div>
              	  <div class="box-body">
				  	<div class="row">
					  <div class="col-md-12">
				  	  	<table id="user_table" class="table no-margin">
					      <col width="5%">
					      <col width="30%">
					      <col width="30%">
					      <col width="20%">
					      <col width="15%">
					      <thead>
					      	<tr>
					      	  <th></th>
					      	  <th>{% trans '使用者帳號' %}</th>
					      	  <th>{% trans '使用者名稱' %}</th>
					      	  <th>{% trans '公司' %}</th>
					      	  <th>{% trans '狀態' %}</th>
					      	</tr>
					      </thead>
					      <tbody id="user_table_body">
					   
					      </tbody>
					  	</table>
				      </div>
				      <!-- /.col -->
				    </div>
				  	<!-- /.row -->
			      </div>
			      <!-- /.bos-body -->
			    </div>
			    <!-- /.box -->	
			  </div>
			  <!-- /.tab-pane p2 -->
			  <div class="tab-pane" id="p3">
			  	<div class="box box-default">
			  	<div class="box-header with-border">
			  	  <button type="button" class="btn btn-default" onclick="store_permission()" id="store_permission_button" style="margin:1px 0px;display:None;"><i class="fa fa-save"></i> {% trans '儲存' %}</button>
			  	  <button type="button" title="{% trans '篩選權限名稱' %}" class="btn btn-default" onclick="filter_search(permission_table_body)" style="margin:1px 0px;"><i class="fa fa-filter"></i>{% trans ' 篩選' %}</button>
			  	  <button type="button" title="{% trans '清除篩選條件' %}" class="btn btn-default" onclick="filter_default(permission_table_body)" style="margin:1px 0px;"><i class="fa fa-undo"></i>{% trans ' 還原' %}</button>
				</div>
			  	<div class="box-body">
				  <div class="row">
					<div class="col-md-12">
				  	  <table id="permission_table" class="table no-margin">
					    <col width="5%">
					    <col width="40%">
					    <col width="45%">
					    <thead>
					      <tr>
					      	<th></th>
					      	<th>{% trans '權限名稱' %}</th>
					      	<th>{% trans '內容' %}</th>
					      </tr>
					    </thead>
					    <tbody id="permission_table_body">
					   
					    </tbody>
					  </table>
				    </div>
				    <!-- /.col -->
				  </div>
				  <!-- /.row -->
			    </div>
			    <!-- /.box-body -->	
			    </div>
			    <!-- /.box-->
			  </div>
			  <!-- /.tab-pane p3 -->
			</div>
			<!-- /.tab-content -->
		  </div>
		  <!-- /.nav-tabs-custiom -->
		</div>
		<!-- /.col -->
	  </div>
	  <!-- /.row -->
	</section>
	<!-- /.content -->
	<script>
	var role_edit = location.pathname.split('/')[4];
	$(function (){
		var postdata = {group_id: role_edit, 'functional_flag': 'True', 'ad_flag':'False'};
		$.ajax({
			url: "{% url 'loadGroupAjax' %}",
			type: 'post',
			headers: { "X-CSRFToken": "{{csrf_token}}" },
			data: JSON.stringify(postdata),
			contentType: "application/json;charset=utf-8;",
			success: function (data) {
				var all_user_list = data.result.all_user_list;
				var role_user_list = data.result.group_user_list;
				var all_permission_list = data.result.all_permission_list;
				var role_permission_list = data.result.role_permission_list;
				$('#h1_small').text(data.result.group);
				$('.breadcrumb').append('<li><a href="javascript:location.reload();">'+data.result.group+'</a></li>');
				$('#group_name').val(data.result.group);
				$('#group_descript').val(data.result.description);
				$.each(all_user_list, function(index, value){
					if (value.is_active==true)
					{
						$('#user_table_body').append('<tr><td><input type="checkbox" data-name="checkbox" class="icheckbox_minimal-blue" id="'+value.username+'" value="'+value.username+'"><label for="'+value.username+'"></label></td>'+
													 '<td>&nbsp;&nbsp;'+value.username+'</td>'+'<td>'+value.nick_name+'</td>'+'<td>&nbsp;&nbsp;'+value.company+'</td>'+
													 '<td><span class="label label-success">{% trans '啟用'%}</span></td></tr>');
					}else
					{
						$('#user_table_body').append('<tr><td><input type="checkbox" data-name="checkbox" class="icheckbox_minimal-blue" id="'+value.username+'" value="'+value.username+'"><label for="'+value.username+'"></label></td>'+
													 '<td>&nbsp;&nbsp;'+value.username+'</td>'+'<td>'+value.nick_name+'</td>'+'<td>&nbsp;&nbsp;'+value.company+'</td>'+
													 '<td><span class="label label-warning">{% trans '停用'%}</span></td></tr>');
					}
				});
				$.each(role_user_list, function(index, value){
					$('#'+value).prop('checked', true);
				});
				$.each(all_permission_list, function(index, value){
					$('#permission_table_body').prepend('<tr><td><input type="checkbox" data-name="checkbox" class="icheckbox_minimal-blue" id="'+value.codename+'" value="'+value.codename+'"><label for="'+value.codename+'"></label></td>'+
												 '<td>&nbsp;&nbsp;'+value.name+'</td>'+'<td>&nbsp;&nbsp;'+value.codename+'</td></tr>');
				});
				$.each(role_permission_list, function(index, value){
					$('#'+value).prop('checked', true);
				});
				$('ul.sidebar-menu ul.treeview-menu > li > a[href="/accounts/page/role-management/"]').parentsUntil(".sidebar-menu > .treeview-menu").siblings().removeClass('active menu-open').end().addClass('active menu-open');
				check_permission();
			}
		
		});
	});
	function check_permission()
	{
		{#如果有OmGroup_Modify權限，才可選取及儲存權限#}
		{% if perms.omuser.OmGroup_Modify %}
			$('#store_role_button, #store_role_name').show();
			$('#store_permission_button').show();
			$('#group_name, #group_descript').prop('readonly', '');
		{% else %}
			$('input[data-name="checkbox"]').attr('disabled','disabled');
		{% endif %}
	}
	function filter_search(table)
	{
		omflowFilter(['filter_search']);
		$('#modal-default-filter-confirm').off("click").on("click",function(callback){
			var searchkey = $.trim($('#modal-default-filter #search').val());
			if (searchkey)
			{
				$('#'+table.id+' tr').hide();
				$('#'+table.id+' tr:contains("'+searchkey+'")').show();
			}
			else
			{
				$('#'+table.id+' tr').show();
			}	
		});
	}
	
	function filter_default(table){
		$('#'+table.id+' tr').show();
	}
	
	function store_role_name()
	{
		var group_name = $('#group_name').val();
		var group_descript = $('#group_descript').val();
		var postbody = {'group_id': role_edit, 'name': group_name, 'description': group_descript}
		omflowJsonAjax(postbody, "{% url 'updateGroupAjax'%}", store_action);
		Swal.fire({
		  title: '{% trans '處理中'%}...',
		  toast: true,
		  position: 'bottom-start',
		  showConfirmButton: false,
		});
		Swal.showLoading();
	}
	
	function store_role()
	{
		var this_check = [];
		$.each($('#user_table input:checkbox:checked'), function(){
			this_check.push($(this).val());
		});
		var postbody = {'group_id': role_edit, 'user_list': this_check} 
		omflowJsonAjax(postbody, "{% url 'groupUsersAjax'%}", store_action);
		Swal.fire({
		  title: '{% trans '處理中'%}...',
		  toast: true,
		  position: 'bottom-start',
		  showConfirmButton: false,
		});
		Swal.showLoading();
	}
	
	function store_permission()
	{
		var this_check = [];
		$.each($('#permission_table input:checkbox:checked'), function(){
			this_check.push($(this).val());
		});
		var postbody = {'group_id': role_edit, 'per_list': this_check} 
		omflowJsonAjax(postbody, "{% url 'rolePermissionAjax'%}", store_action);
		Swal.fire({
		  title: '{% trans '處理中'%}...',
		  toast: true,
		  position: 'bottom-start',
		  showConfirmButton: false,
		});
		Swal.showLoading();
	}
	
	function store_action(data)
	{
		Swal.close();
		if(data.status == 200)
		{	
			Swal.fire({
	      	  icon : 'success',
	      	  title: data.message,
	      	  toast: true,
		  	  position: 'bottom-start',
		  	  showConfirmButton: false,
	      	  timer: 2000,
		    });
		}	
		else
		{	
			omflowAlert('yellow', data.message);
		}
	}
	</script>



{%  endblock %}